[2019-01-01 17:49] moppius opened #2 "Create branch for Blender 2.80 version"
I noticed that you have offered a 2.80 version for download on your blog. Maybe it can also be added to this repo as a branch, or tag the current version for reference and overwrite the script with the newer one?

It would be nice to have this as a central resource for improving the state of the tools, since it's GPL-licensed anyway, it seems like a good idea to have a public repo instead of peopl

[2019-01-04 12:13] moppius commented on #2
Now I think about it, might be better just to have the `GoB_2-80.py` file in the *master* branch alongside the `GoB_2-79.py` version.

I don't know how to do it yet, but this method seems to be used for the appleseed Maya plugin - they have a Releases page on GitHub with download links for different versions, which is pretty cool: https://github.com/appleseedhq/appleseed-maya/releases

I'll look i

[2019-01-04 12:18] moppius opened #4 "Make send-from-ZBrush work like official GoZ"
Currently the add-on has a modal timer which runs when the 2nd icon is clicked and watches for changes in the interchange folder. This works alright, but it can block some Blender functionality (such as autosave) while the modal timer is running, and is an extra action for the user to perform compared to the "official" GoZ implementations in Maya and 3dsmax.

Ideally, when the user clicks the GoZ

[2019-01-11 20:12] vogoltsov opened #5 "GoB crashes on Blender to ZBrush export on latest Blender 2.80 beta build"
Using Blender 2.80.0 beta build f98e4cbedbbb7 for win64.
When I click the export button, ZBrush is started and closes immediately after briefly showing an empty document window.
Seems I am not the only one having this issue: https://blenderartists.org/t/goz-for-blender-2-8/1138418/13

[2019-01-11 22:53] JoseConseco commented on #5
Thanks for writing the solution. I would not figure this out. I will post link to your post on BA.

[2019-01-14 19:17] JoseConseco commented on #2
DOne

[2019-01-14 19:17] #2 closed

[2019-02-13 20:16] XnetLoL opened #8 "I can't install addon on blender 2.8 (getting 'NameError')"
When I try to install GoB_2_8.py I get the following issue:
https://i.gyazo.com/c2595903961a2dc0a570c92a8d5235b0.png

That's my userpref.py file:
https://quickfileshare.org/2AMk/userpref.py

I had no problems installing it on zBrush.

[2019-02-13 22:25] JoseConseco commented on #8
Sorry but this error report dosen't help. Is there more info in blender console?
Something related to file: GoB_2_8.py ?

[2019-02-13 22:37] XnetLoL commented on #8
Hi, I downloaded Blender again and now it's working. I guess it was due a decompression error or something.

[2019-02-13 22:43] #8 closed

[2019-03-13 22:11] kromar commented on #4
its something i noticed that blend files can not be saved while in "link" with zbrush so i wanted to see what is causing it and what the potential solutions are for this scenario.
im not aware of the behaviour with other apps but i noticed that the auto focus would be nice when sending objects to blender.
im not sure if blender provides such functionality since it sounds like it would be some even

[2019-03-14 05:01] OliverMilas opened #12 "Can't send Boolean Meshes from Blender to Zbrush wit GoB"
Hi, everytime I applied a boolean operation on a mesh in Blender (with collapsed Modifier) and try to export with GoB,  Zbrush crashes on Import ... has anybody the same issue?

Manually importing the mesh (obj) works

Thanks

[2019-03-14 11:12] kromar commented on #12
@OliverMilas cah you share a blend file with a mesh that crashes? that would make it a lot easier to reproduce the issue.
i tried it with a decimation modifier (collapse) and a boolean after it but did not experience a crash.
i did some changes to the modifiers in the version i use so maybe its an issue only happening on earlier versions. (there is a open pull request for the changes)

![image](ht

[2019-03-14 11:46] OliverMilas commented on #12
hello kromar, thanks for the fast reply - sure here it is - i use blender 2.8

[boolean_test.zip](https://github.com/JoseConseco/GoB/files/2966176/boolean_test.zip)

[2019-03-18 15:56] kromar commented on #12
as far as i can tell this is related to the n-gons that get exported from blender which zbrush cant handle.
I have made some fixes for the modifiers in the 2.7 script, and @JoseConseco mentioned that he wants to see how to deal with modifiers in the 2.8 version.
We will need to see how we can bring the changes from 2.7 into 2.8 and go from there.

As a temporary solution you can put a triangulatio

[2019-03-18 16:34] kromar opened #13 "removing version from addon name and work with tags/branches"
I had a quick go to see what is needed to bring the changes from 2.7 into the 2.8 version and its a issue that the filename was changed since that makes porting changes a manual job.
My suggestion would be that we remove the version from the file name and work with branches/tags to keep the versions apart.
Since it will take up to a year until 2.8 is production ready i expect a few more fixes/impr

[2019-03-19 13:59] JoseConseco commented on #13
Ok, I will change that. Btw. do you know how to put single file script like gob.py , into blender addons/ directory, without git trying to add all files from all addons sub directories to repo? For multifile addons it is easy, because you have separate folder that can be cloned to addons/ folder.

[2019-03-19 14:19] kromar commented on #13
you can just put it in a folder and name the python script __init__.py that should do it but might look a bit strange.

[2019-03-19 17:12] JoseConseco commented on #13
It is done.

[2019-03-19 17:12] #13 closed

[2019-03-21 11:58] kromar commented on #12
It seems that in the 2.7 version n-gons get triangulated but not with the 2.8 version, and that is then causing zbrush to crash.

[2019-03-22 22:19] OliverMilas commented on #12
@kromar Thank you will try that ^^

[2019-03-26 13:42] kromar opened #15 "addon not loading if "." (dot) in folder name"
if we have a "." in the branch name /addon folder name after extraction the addon is not loading with blender 2.8.

![image](https://user-images.githubusercontent.com/1472884/55001647-5e494800-4fd5-11e9-9d95-9f0f08ebe7c6.png)

[2019-03-27 16:17] JoseConseco commented on #15
so I have to rename branch to eg: blender_28 ?
Then it should work.

[2019-03-27 18:06] kromar commented on #15
yeah i think that should work. i wonder if its something we should report to the blender foundation, i have the feeling that blender thinks its a file with some extension and therefore does not recognize it as a folder.

[2019-03-27 22:39] JoseConseco commented on #15
And it is done. new branch name is: GoZ-Blender_28
For now I think blender devs have hands full of work with 2000bug reported .

[2019-03-27 22:39] #15 closed

[2019-04-21 11:42] kromar commented on #12
@OliverMilas this should be fixed in the latest 2.8 branch, would be great if you could give it a try.

[2019-04-22 16:21] JoseConseco commented on #12
It if fixed. Closing

[2019-04-22 16:21] #12 closed

[2019-04-23 13:30] JoseConseco commented on #4
fixed in 3.0.2.  Gob is using now timers, instead of modal operator.

[2019-04-23 13:30] #4 closed

[2019-05-25 08:59] kromar opened #25 "tags can not contain dots (blender addon loading)"
the tags break the release installation again, they can not contain dots or blender can not load the addon.

not sure if how the updater will handle tags without dots, that is something that needs to be tested.

[2019-05-25 09:13] JoseConseco commented on #25
But the releases alway had dots in names. So now it should be changed from:
v3.0.2  to => v302 ?

[2019-05-25 09:31] kromar commented on #25
well in that case the releases probably never worked with blenders install option.
i think anything without the dots should work, not sure if something like underlines (v3_0_2) would work for the updater.
i think we should test if the new tags are also working for the updater.

[2019-05-25 09:38] JoseConseco commented on #25
According to:  [https://medium.com/cg-cookie/blender-updater-tutorial-3509edfc442](https://medium.com/cg-cookie/blender-updater-tutorial-3509edfc442)
it should work the way it is now.
v3.0.1 or 3.0.1 .
Sorry I can't take time to dive into autoupdater. It is to bigg - bigger and more complicated than the addon itself.

[2019-05-25 10:13] kromar commented on #25
i can do some testing on the tags as i already added some debug output to the version parsing of the updater.
yes it works with the dots but i want to have a look what happens with a tag that has no dots since we need that so the releases dont contain dots.

[2019-05-25 10:15] JoseConseco commented on #25
Ok here it is: https://github.com/JoseConseco/GoB/releases/tag/v305

[2019-05-25 10:42] kromar commented on #25
i had a look and the updater compares the bl_info: version which has the dots inside so i will need to do some changes there to convert the version string.

im at a point where i question the updater implementation, it seems to cause quite some maintenance not to mention what will happen if we want to update to a new updater version.

what do you think, should we remove the updater for the time be

[2019-05-25 11:13] JoseConseco commented on #25
I'm ok with removing autoupdater. It is to big for me to dig in.
For my private addons I have made way simpler updater script, but it dosen't support GitHub.
You may want to report bug to the author of script (CG Cookie?), if you have want. Maybe they will fix it.

[2019-05-27 18:08] kromar commented on #25
im in contact with them so lets see what comes out of it

[2019-05-30 10:30] kromar commented on #25
@JoseConseco hey i did some more testing and it turns out we can use _ instead of . in the tags, that works with the version parsing of the updater and should also work with the releases since there are no dots in the version.
can you replace all the tags with this scheme? v3_0_4

[2019-05-30 10:35] JoseConseco commented on #25
Ok. Done. Let me know if that works

[2019-05-30 10:52] kromar commented on #25
![image](https://user-images.githubusercontent.com/1472884/58628333-b3595100-82d9-11e9-8805-32b3705ae748.png)
its a mess currently with the tags

[2019-05-30 11:16] JoseConseco commented on #25
Ok, my bad. I find edition bit confusing. SHould be ok now

[2019-05-30 11:29] kromar commented on #25
the tags no all point to the same commit
![image](https://user-images.githubusercontent.com/1472884/58630193-f538c600-82de-11e9-83b1-2843af883493.png)

[2019-05-30 11:33] kromar commented on #25
![image](https://user-images.githubusercontent.com/1472884/58630320-53fe3f80-82df-11e9-9eef-8bbabb720312.png)
here are the hashes where the tags have been before, maybe you can give me collaboration rights on this repo, it would make things a bit easier for me^^

[2019-05-30 11:38] JoseConseco commented on #25
I was just removing tags, from github, not sure why they point to same point. I have sent you invitation.
I can remove all tags, and just make new release. This should clean things up.

[2019-05-30 11:41] kromar commented on #25
i created new tags pointing to the original commits, thanks for the invite^^

[2019-05-30 11:42] #25 closed

[2019-06-03 07:06] spiraloid opened #26 "to get this to work I had to install this"
the doc was missing the following to get it to work.

first install the GoB addon for blender and activate.

then re-install GoZ for Zbrush from here:
C:\Program Files\Pixologic\ZBrush 2019\Troubleshoot Help\GoZ_for_ZBrush_Installer_WIN.exe

then launch ZBrush 2019.1 and run GoZ once and choose your blender install location.

then everything works.  you might want to update the readme.

[2019-06-03 08:58] JoseConseco commented on #26
ok, I updated the docs.

[2019-06-03 08:58] #26 closed

[2019-06-13 20:41] kromar opened #27 "periodical import crashes blender"
hey there have been some reports that blender is crashing in the latest versions when a object is imported from zbrush.
it seems that the periodical import somehow causes this but i could not figure out why since i cant trace the error. maybe you can have a look at this issue.

[2019-06-13 21:05] koloved opened #28 "Crash every second press on the button GOZ in Zbrush"
Blender just crushed without log file

[2019-06-13 21:06] koloved commented on #27
I have got the crash when i press GOZ twice

[2019-06-13 22:10] Phardbean commented on #27
So far, for me, I only crash when I trying to go back to Blender. 13.6.2019 build. The funny thing though, when I reopen and only click on the import button it pops in.

[2019-06-14 17:58] JoseConseco commented on #27
Fixed in 3.0.5. Timers are causing problems, so I had to revert them back to Modal Timer operator.
Maybe timers context will be fixed in blender someday. Then, we can revert this change. Bugs to watch:
https://developer.blender.org/T62051
https://developer.blender.org/T62074

[2019-06-14 17:58] #27 closed

[2019-06-14 17:59] JoseConseco commented on #28
fixed in 3.0.5

[2019-06-14 17:59] #28 closed

[2019-06-14 18:23] Phardbean commented on #27
Thanks for the quickfix. =)

[2019-06-14 18:26] koloved opened #29 "new vertex color node created on each import"
Every export blender makes copy of  base color attribute
![Screenshot_95](https://user-images.githubusercontent.com/22406105/59529941-02fb6780-8eeb-11e9-9a3a-8f078b08d5e4.jpg)

[2019-06-14 18:38] kromar commented on #29
This is most likely caused by the color import that i added.
I started to work on a full system that can import the textures/material and creates the nodes required. It will replace this color import, however it will take a bit more time till its done.
I can see if i can make the current import optional and that it does not create a new base color node on every import.

[2019-07-06 14:27] koloved opened #30 "Export from Zbrush wrong smooth normals calculated"
but when i enter to Edit Mode the issue is gone

see: https://youtu.be/oXwj0LE7c48

[2019-07-08 10:32] kromar commented on #30
@koloved can you provide some details what you did to end up with the wrong normals on the cube?

[2019-07-08 10:33] kromar opened #31 "latest release has dots in name"
@JoseConseco  you seemed to create an other release with dots in the name which breaks installing in blender.

[2019-07-08 18:39] koloved commented on #30
@kromar nothing, just import model from Zbrush, objects has wrong shading, before enter to edit mode

[2019-07-08 19:34] kromar commented on #30
@koloved im able to reproduce the issue, thanks for reporting it, i will see if i can find out why this happens.

[2019-07-09 10:12] kromar commented on #30
@koloved i fixed the problem and also added a option so you can choose if the meshes should be flat or smooth shaded when they arrive in blender.
https://github.com/JoseConseco/GoB/pull/32

if you want to give it a try you can use this verison:  https://github.com/kromar/blender_GoB/tree/bugfix/fix_shading

[2019-07-09 10:18] #31 closed

[2019-07-12 20:41] koloved opened #33 "Export materials like polygroups for additional using"
now -

![Imgur](https://i.imgur.com/Kb9lG8b.jpg)

FBX import -  its useful for zRemesh or Dynamesh   lowpoly boolean object with different materials
![Imgur](https://i.imgur.com/joUtxaf.jpg)

![Imgur](https://i.imgur.com/xXhCKOb.jpg)

[2019-07-12 20:54] koloved commented on #30
Oh yes , its working,  thank you! youre great !

[2019-07-13 06:16] kromar commented on #33
@koloved so if i understand you corectly the models are made in blender and some materials assigned to the different parts which when imported with fbx are converted into poly groups?

[2019-07-13 06:34] koloved commented on #33
Yes  , youre right  it looks something like this

![Imgur](https://i.imgur.com/t4SvFAB.jpg)

[2019-07-13 06:37] koloved commented on #33
[low_poly_polygroups.blend](https://github.com/JoseConseco/GoB/files/3388534/low_poly_polygroups.zip)

[2019-07-13 12:56] kromar commented on #33
@koloved i do not know if this is possible, do you know if this works with any other application like Maya or so when sending a object with GoZ to Zbrush? Or do you have any other software you could test this?

[2019-07-13 13:44] koloved commented on #33
I found the button in preferences menu, but its not working with obj , zbrush dont want to read mtl file

![Imgur](https://i.imgur.com/2OkVo34.jpg)

Maya isn't working with mat as poly groups too =)

Can you make a checkbox for auto create vertex-groups from materials? (as example close to Export button)

I am trying to find addon to do this but i cant find it

[2019-07-13 13:53] koloved commented on #33
i found this code -

[https://blender.stackexchange.com/questions/47455/how-to-create-vertex-groups-from-materials-using-python](https://blender.stackexchange.com/questions/47455/how-to-create-vertex-groups-from-materials-using-python)

but i don't know how to use it =(

[2019-07-13 17:30] kromar commented on #33
yeah sure i can implement such a functionality

[2019-07-13 21:51] kromar commented on #33
@koloved there was a bug in the vertex group data that broke them sometimes during the 2.8 updates. Thanks to your request i noticed it:D
It took me some hours to trace this down and fix it and the vertex groups should again arrive as polygroups in zbrush.
I also started to add some options in the addon preferences for the polygroups conversion but at the moment they are not working and vertex gro

[2019-07-14 01:35] spiraloid opened #34 "support Multires highres transfer"
# Tasks

- [ ] 1. implement blender export  for _low _high mesh (objname+subdivlevel+_low/_high)
- [ ] 2. implement blender import for _low _high mesh (recognize type by suffix and reshape with multires modifier, can also add if the modifier does not exist)
- [ ] 3. implement zbrush import for _low _high mesh (since the importer is ours now we can do whatever we want so we can do the reprojection

[2019-07-14 15:25] kromar commented on #33
i removed the option for the viewport color since that is only available when a material is present so does not make sense.
the vertex groups for the material are now removed again and im working on the uv to vertex group implementation, however that turns out to be a lot more complicated than expected but i will get it done eventually^^

[2019-07-17 19:11] koloved opened #35 "Blender Manual Page about the addon"
I made the page about the addon
Should i change something?

https://docs.blender.org/manual/en/dev/addons/io_gob_zbrush.html

[2019-07-17 21:16] #30 closed

[2019-07-17 21:16] #33 closed

[2019-07-17 21:58] kromar commented on #35
@koloved oh that is fantastic!

Not all the features on the page are supported at this point
- Polyfroups from Uv’s -> propbably not going to happen since this is really easy in zbrush

these are also not working at the moment for 2.8 and might take a while.
Diffuse map
Normal map
Displacement map

there is a typo in:
`It **have** few useful import-export options:`
should be (maybe replace the it

[2019-07-18 10:03] koloved commented on #35
they asked to delete the page, I don’t understand why, as if this is not an official plugin
although in my opinion this is a very important part for the whole blender community. =(

[2019-07-20 20:25] kromar opened #38 "smart shading"
i create this ticket so we dont forget to try this thing with the smart shading.

if already imported objA.data.faces[0].smooth, then shade smoooth whole incoming objA too, else shade flat. This way incoming updated object will gest shading from existing obj already imported previously.

[2019-07-20 20:27] kromar commented on #35
@koloved to bad, however i understand the decision. imagine everybody wanted their addon on the official documentation page, it would be quite the mess:O and we are already present on the forums so i think if someone googles he will find this tool quickly.

[2019-07-20 20:27] #35 closed

[2019-07-20 20:57] kromar commented on #34
hi @spiraloid i wanted to look into the multires issue for some time but never had a chance to. Do you know if other applinks from zbrush support such a multires functionality?
I noticed that zbrush always switches to the lowest subdiv befor it sends it over to blender.

[2019-08-21 00:34] 3Rton opened #41 "3.0.6 doesn't seem to respect collections"
By default when you create an object it is assigned to the last selected collection. However, Gob seems to always import new objects to the top level. It'd be nice if it respected selected/last selected collection.

[2019-08-21 17:46] kromar commented on #41
that is a good point, thanks for reporting it. i guess this should not be to hard to do.

[2019-08-21 20:32] kromar commented on #41
@3Rton can you give this a try? https://github.com/kromar/blender_GoB/tree/feature/add_to_collection
it should add the object to the selected /active collection if the object is not already in blender, if the object is already in a collection it will be reassigned to the new active collection.

[2019-08-21 22:39] 3Rton commented on #41
Works!
Design wise I might personally only assign to collection when the object is not already in the scene. After you move in zbrush from creating subtools to mostly working on the existing subtools youll probably keep sending to Blender often to preview. At this point it might become a pain to have to always make sure you have the right collection selected before sending from Zbrush. (especially

[2019-08-22 06:42] kromar commented on #41
That is a good point, i did this because it was adding it to the new selected collection and the you wpuld eventually end up with the object in all selections.
So you would rather have it just in the initial collection where it was imported?

[2019-08-22 19:55] kromar commented on #41
@3Rton i changed it so it should behave like you proposed. would be great if you could try it and let me know if everything works as expected now.

[2019-08-23 01:46] 3Rton commented on #41
It's exactly as I wanted. I used it for about 3 hour session and didn't notice anything broken. (Albeit it was past midnight so I might have missed stuff) Seems to work great.

[2019-08-25 10:21] kromar commented on #41
@3Rton glad it works as expected now:D
I fix a bug that i encountered and simplified the code, would be great if you could test the latest version and let me know if you run into any issues.
https://github.com/kromar/blender_GoB/tree/feature/add_to_collection

[2019-08-26 18:06] #41 closed

[2019-08-29 13:59] Video-Nomad opened #43 "Ability to change scale for import/export"
When exporting characters (~160-200 cm height) to Maya, Max, Marmoset or UE4 it is optimal to set scale to 100 in ZBrush (Tool->Export->Scale).

With this scale you have adequate size of objects in ZBrush units (compared to default Unified Box) and FBX exporter and GoZ work correctly for other programs.

However for GoB 100 scale means x100 during export and Blender shows incorrect scales (for 200

[2019-08-30 03:05] joebuehrer opened #44 "Import Button No Longer Working"
The Import button is no longer working. I click on it, and it doesn't change color to signify it's active. Furthermore, I can no longer import/export models between Zbrush and Blender. This happened after my version of windows installed updates and after I uninstalled previous versions of Zbrush off my machine.

[2019-08-30 17:37] kromar commented on #43
@Video-Nomad thanks for reporting this, i think this should be easy to add.

[2019-08-30 17:41] kromar commented on #44
@joebuehrer can you try to run the GoZ repair insude the Zbrush support folder and see if that fixes the issue?

can you  check blenders system console and post any errors you get there?
![image](https://user-images.githubusercontent.com/1472884/64040782-128b6380-cb5e-11e9-8935-2fbd53ecc1e5.png)

[2019-08-30 19:08] Video-Nomad commented on #43
Yea, this works. It exports to and from Blender correctly now. FBX export and import works as well. However, you need to change clip start and clip end for the default viewport camera (they got messed up after scale change) and maybe other values as well. I'm not sure how 0.01 Unit Scale will behave with other Blender tools like simulation and modifiers. Should theoretically work.
![5QeiVImYeq](ht

[2019-08-30 20:19] kromar commented on #43
great! i have been using unit scale at work for about 10 years and have not come across issues with it.

[2019-08-30 23:18] joebuehrer commented on #44
I figured it out. I had uninstalled previous versions of Zbrush tok make space on my drive and that's what caused the issue. Once I reinstalled 2019.1 the issue was fixed.

[2019-08-30 23:18] #44 closed

[2019-08-31 14:32] #43 closed

[2019-09-06 10:21] sonny6405 opened #45 "Nothing is happening when pressing the export button"
Hello,
I just downloaded GOB for Blender 2.8 but nothing is happening when I press the export button...

I followed the instructions and the path is made in zbrush.
I don't know what to do :(

[2019-09-11 16:19] xiaoilao opened #46 "specify import/export scale"
When I export a small object to zbrush Dynamesh does not work correctly. The plugin in zbrush should change XYZ size to 2. And then returned the value XYZ size when importing.

<details>
  <summary>Images</summary>

  ![blender_2019-09-11_19-14-53](https://user-images.githubusercontent.com/55202067/64715094-874c8f00-d4c8-11e9-8f88-2e89b90e4cab.png)
![Dynomesh128](https://user-images.githubusercont

[2019-09-15 07:35] SbstnDC opened #47 "2.81?"
it works only by exporting things from blender to zbrush but importing from blender does not work.

[2019-09-30 01:31] mac4kent opened #48 "GoB transfer from zBrush to Blender bug"
I have zBrush 2019.1.2 and Blender 2.81 beta have some bug
From Blender GoB zBrush it work but zBrush GoB Blender nothing happen.
Need to fix update soon.
mac4kent@gmail.com Kent Davis

[2019-10-02 00:12] OldSalty opened #49 "Unable to import from zbrush"
I sent a cube to zbrush, then tried to get it bacl to blender and receive this error. I've tested mesh with and without polygroups and polypaint. All have same result.

Kind regards.

![image](https://user-images.githubusercontent.com/7090702/66009205-d2245a00-e4fc-11e9-9cec-a0a98bee416b.png)

[2019-10-02 00:14] OldSalty commented on #48
I have run into the same issue, I will report with console log attached.

[2019-10-02 00:50] mac4kent commented on #48
Goooooooooooooood

[2019-10-02 09:29] kromar commented on #47
https://github.com/JoseConseco/GoB/archive/GoZ-Blender_28.zip try this version, should be fixed

[2019-10-02 09:30] #47 closed

[2019-10-02 09:30] kromar commented on #48
https://github.com/JoseConseco/GoB/archive/GoZ-Blender_28.zip should be fixed in the latest version

[2019-10-02 09:30] kromar commented on #49
https://github.com/JoseConseco/GoB/archive/GoZ-Blender_28.zip

[2019-10-02 09:30] #49 closed

[2019-10-02 09:35] kromar commented on #46
im aware of this, however i tried to figure this out for hours and do still not understand the logic behind zbrushes system. it seems there is not world system but every object gets its own space which has no relation to any outside software... if you have more insight please share it so i can give it another try.

[2019-10-02 13:12] mac4kent commented on #48
Same 3.0.9 did not made it update 3.0.10 yet.

[2019-10-02 15:50] kromar commented on #48
@mac4kent i did not change the version number, have you tried if it fixes the issue?

[2019-10-02 18:37] mac4kent commented on #48
Ok I will have to inspect when I get home from hospital. I will reply you back later.

[2019-10-02 21:34] mac4kent commented on #48
Whole video youtube.
https://youtu.be/FphftatT600

There start open zBrush then go open Blender then zBrush work on sphere then from zBrush GoB Blender because zBrush got freeze. Start video this below.
https://youtu.be/FphftatT600?t=128

[2019-10-05 12:49] kromar commented on #45
@sonny6405  did you get it to work?

[2019-10-05 13:04] sonny6405 commented on #45
I don't know how but I did... haha

[2019-10-05 13:12] kromar commented on #48
@mac4kent i can not reproduce the freeze like you showed in the video. can you open blenders command line window and see if there are any errors when zbrush freezes?

[2019-10-05 13:14] kromar commented on #45
sometimes it needs the softwares to be started again or some strange thing like that:D im glad you got it working!

[2019-10-05 13:14] #45 closed

[2019-10-05 14:22] mac4kent commented on #48
I just open Blender 2.81 beta and I don't see Toggle System Console
![image](https://user-images.githubusercontent.com/4253305/66256253-d8a31380-e740-11e9-9754-22f03b0f933f.png)

[2019-10-05 14:51] mac4kent commented on #48
I take test again again. When Blender 2.81 beta open.
zBrush 2019.1.2 open and create sphere and edit button and click Make PolyMesh3D button then draw to be change a little of sphere.
click GoZ button then go Blender 2.81 beta click Import button on top and wait for about 2 minutes cause appear.
THEN
zBrush draw change sphere a little then GoZ fast appear.

I just test myself.
-------------------

[2019-10-05 15:25] kromar commented on #48
hm that is strange that it is that slow, i think i will need to do another profiling to see what takes so long.

[2019-10-05 15:59] mac4kent commented on #48
sure yes that strange. Take your time not hurry hehe.

[2019-10-05 16:01] mac4kent commented on #48
@OldSalty  would you like to take some more test if you can found out like GoZ from zBrush first place make 2 min then GoZ again appear fast. if you want to. We can do other test some more later.

[2019-10-07 02:48] OldSalty commented on #48
I’m using the the updated version and I don’t have any serious issues yet. Just a couple problems with vertex colours I think when I’m using the new vertex colour attribute in 2.81. Other than that the new version fixed all issues for me.

[2019-10-07 17:15] mac4kent commented on #48
Really ok @OldSalty

[2019-10-07 20:03] gunterrf commented on #46
I know... it took me awhile to figure it out but now its seems to work correctly for me. zBrush looks like need an object to refer the position and scale to. You have to be aware about two thing. You need an object correctly positioned and scaled(it can be a hidden subtool) and be aware about the unit size differences between Blender and zBrush.
**1.** Download this free package from Shane Olson h

[2019-10-08 18:59] KanekiK3n opened #51 "Blender to zbrush crash."
When I try to export my blender model to zbrush, zbrush just crashes.
I honestly have no idea how it happens, I reinstalled the addon multiple times.

[2019-10-09 00:32] OldSalty opened #52 "textures are not replaced on import and creates duplicates"
Textures are being imported as .001 .002 .003 etc.

could there be a checkbox to replace textures on import?

[2019-11-02 17:12] barbadul opened #53 "Creating a new subtool instead of updating original"
Hello!
This addon is very good, but I've got an annoying problem. After I press GoZ in ZBrush, my mesh imports to my scene in Blender. Then, even with no changes at all, after I click on Export in Blender -- it creates a new subtool in Zbrush with the same name. I've tried lots of things -- cleaning cache, creating new scenes and so on but nothing helps. I've tested with both 2018 and 2019.1 versi

[2019-11-02 18:06] schroef commented on #48
Are you on OSX or linux? I dont know about Linux. But for OSX you need to open blender by using the terminal to get the console.
You can do so by right clicking on the app > Show Package Contents > Contents > MacOs >  Blender. Now open that file, first terminal will open and then a Blender instance. Now the terminal window is the console window. So all errors you see in the Terminal come from Blen

[2019-11-02 18:07] schroef commented on #53
Perhaps screenshots of mesh objects or model objects could help here.

[2019-11-02 19:40] barbadul commented on #53
It is the same with any mesh or primitive, doesn't matter. But if you need any more details, I'll send them, sure.

[2019-11-02 20:31] schroef commented on #53
Well im not the dev, but a lot of times these kind of things can help and possible show the errors

[2019-11-02 21:04] kromar commented on #51
hi @KanekiK3n this is caused if the mesh has ngons and is not triangulated on export. Zbrush will crash if it tries to load meshes that contain ngons.
Make sure you are using the latest version of GoB, this should have been fixed a long time ago. otherwise make sure you put a triangulation modifier on your mesh before sending it to zbrush.

[2019-11-02 21:24] barbadul commented on #53
Sure, I just simply do not know which type of information should I post. As I said, it happened to me with any mesh, so the screens are pretty useless here. I run Windows 10, Zbrush 2019.1 and latest 2.8 Steam version + latest GoB Addon. AMD Ryzen 2600, GTX970, 16GB of RAM

[2019-11-02 21:28] KanekiK3n commented on #51
Alright I'll keep an eye out for ngons!

[2019-11-02 21:33] kromar commented on #53
@barbadul  did you enable the option in zbrush to import as subtool?
![image](https://user-images.githubusercontent.com/1472884/68077231-7598b100-fdc0-11e9-9bbc-bf574d27359b.png)

i remember i had this happen to me at some point but i was able to resolve it, i think my usual routine is to use the GoZ repair executable and then reconfigure zbrush and then restat zbrush and usually that helps.
![Scr

[2019-11-02 21:40] barbadul commented on #53
Yes, I did

I'll try to use GoZ repair right now, thanks

[2019-11-02 21:47] barbadul commented on #53
Well,　I've tried to reinstall GoZ for ZBrush as you suggested and now it is got broken even more. GoZ to Blender works fine, but Export button of GoB doesn't work at all :(

[2019-11-02 21:53] barbadul commented on #53
Looks like it depends on the version of this GoZ installer. I've reinstalled GoZ from 2018 ZBrush and the situation went back as it was. It is still annoying, but at least I can work with it

[2019-11-02 22:00] barbadul commented on #53
https://youtu.be/5vshwa6gyJg Here I've attached a video of the problem if its gonna help somehow

[2019-11-03 09:05] mac4kent commented on #48
I have difficult understand your explain so I follow your direct.
Terminal there
Last login: Sun Nov  3 01:58:49 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
Kents-iMac:~ kentdavis$
Kents-iMac:~ kentdavis$
Kents-iMac:~ kentdavis$
Kents-iMac:~ kentdavis$ /

[2019-11-03 09:53] mac4kent commented on #48
November 2, 2019 at 12:20 AM
I have Blender 2.82 Alpha (59b16e28d974)
I always say Mac only. Do not use Linux and do not use Windows.
Blender folder is no long any more. There only 1 application Blender.app without folder for now start 2.81 and up.
I have 2.82 Alpha.

TERMINAL: Last login: Sat Nov  2 07:35:19 on console

The default interactive shell is now zsh.
To update your account to use zsh,

[2019-11-03 09:58] mac4kent commented on #48
There I take screenshot.app for MacOS 10.15.1
<img width="698" alt="1 MacOS 10 15 1 About this mac" src="https://user-images.githubusercontent.com/4253305/68082733-58bea680-fddd-11e9-881e-536fb2b1e0f9.png">
 Catalina

[2019-11-11 04:36] AlonJu opened #54 "Unable to transfer from Zbrush to Blender 2.8"
The addon works whenever I transfer models from Blender to Zbrush, but it doesn't seem to work whenever I try to transfer subtools from Zbrush to Blender. For a test I tried to transfer a cylinder, but it doesn't seem to open a new instance of blender nor add a cylinder.

Configured it here:
https://files.catbox.moe/ykrdxv.png
The GoZ directory points to "C:\Program Files (x86)\Steam\steamapps\com

[2019-11-11 04:44] AlonJu commented on #54
Nevermind, just toggle import in Blender:
https://files.catbox.moe/j1fds3.png
Then click GoZ, All, or Visible to transfer subtools into blender.
https://files.catbox.moe/peq99r.png

[2019-11-11 04:44] #54 closed

[2019-11-14 21:07] barbadul commented on #53
Looks like it started to work better now. I switched versions of both GoZ and GoB from time to time but the bug was still there. Right now I've updated everything back to the latest releases and haven't faced the bug yet for one day. Looks like the problem is pretty rare and random, not many people faced it. I am not sure about the solution, but after trying different configurations of GoZ and GoB

[2019-11-14 21:07] #53 closed

[2019-11-26 10:09] lukedor opened #55 "One way only :-("
On ZBrush 2019.1 & Blender 2.8, both ways worked perfectly.
But after update to Zbrush 2020, working only way: Zbrush -> Blender.
In Blender, after selected mesh and push "Export", autoswitched to ZBrush and thats all.
Mesh not exported.
GOB v 3.0.91
Reinstall All … The Same problem.
Sorry so much. Very usefull Bridge.

[2019-12-11 06:49] nuzzar commented on #55
Did you also update Blender? I also experienced this issue when I updated Blender to 2.81a. I'm not sure if this is related but I fixed it by changing the path to new Blender path in the GoZ_Config.txt (The one in the public folder)

[2019-12-11 07:39] koloved opened #56 "set the level on subdivision modifier on an import object"
replacement (import) of the object, who has been assigned a subdivision modifier overflows memory and freezes the system
for example, how to assign a subdivision modifier to an object with 1 million polygons

PS : you could manually clean the stack of modifications before importing, but I always forget about it, then the computer freezes and has to be rebooted

[2019-12-11 08:31] kromar commented on #56
@koloved im not sure i understand the problem, you are sending a mesh from blender which has a subdivision modifier to zbrush, sculpt there and then send a "highres" back which is inserted with the modifier stack on top of it?
could you try what happens if the modifer is disabled if the same thing happens? i might be able to add a resolution threshold where the modifier would be disabled on import

[2019-12-11 08:36] kromar commented on #55
i have not encountered this issue and its really not enough information to do anything about it. others had this problem as well but seemed to resolve itself once a export was done from blender. unless there are some errors or some reproducible scenario i really cant help with this:(

[2019-12-11 10:15] koloved commented on #56
@kromar
1) export a model to zbrush (model has subdivision modifier 3) (actually it has 3 + modifier)
2) sculpt the model using dynamesh
3) import that model without deleting object
as i understand addon transfer modifier stack to new high poly object which freeze system

i dont know any case when someone try to use subdivision modifier on high poly

i think  .. . an option "do nothing" and "trans

[2019-12-11 19:00] nuzzar commented on #55
In my case the blender 2.81a installer put the blender.exe under its own Blender 2.81 folder (usually the installer put it under Blender folder, not sure why perhaps it's a new thing or because of what I did since I have several Blender version installed), this is what breaks GoB setup since the the GoZ_Config.txt points to the Blender folder not Blender 2.81 folder. I don't need a fix for this, j

[2019-12-11 19:25] nuzzar commented on #33
Hi @kromar For polygroup conversion wouldn't it be better if you use the new face map rather than vertex group? This way it would be 1:1 conversion, right?

[2019-12-11 23:02] lukedor commented on #55
GoZ_Config.txt has the right path to the blender 2.81.
The problem is not in the blender versions,
It started after i uninstalled ZBrush19.1 and installed ZBrush2020 (with a subsequent reinstallation of the GOB plugin).
ZBrush finds Blender (2.80, 2.81) and transfers the grid perfectly.
Blender also finds Zbrush 2020 (because after select mesh & clicking "Export", the ZBrush interface opens), but

[2019-12-12 02:04] 3Rton opened #57 "Export issues in Blender 2.81a"
https://drive.google.com/file/d/1Lcaapi04vqjy5URhuowcaI_Fkt3BHNvJ/view?usp=drivesdk

Export seems to be broken :/

[2019-12-12 12:46] kromar commented on #57
@3Rton i think you are using a old version of the addon, can you try to isntall this one and let me know if it solves the issue?
https://github.com/JoseConseco/GoB/archive/GoZ-Blender_28.zip

[2019-12-13 03:57] #57 closed

[2019-12-13 03:57] 3Rton commented on #57
I'm an idiot. It works with this one rip.

[2019-12-16 06:49] mac4kent opened #58 "export textures from blender to zbrush does not work (worked in 2.79?)"
I am Kent Davis.
Blender 2.82 Alpha GoB zBrush 2020 not work texture
Blender export button to go zBrush 2020 appear only object doesn't appear texture itself.
I already put Blender document File > External Data > Pack All into .blend

[Sidewalk.blend.zip](https://github.com/JoseConseco/GoB/files/3966426/Sidewalk.blend.zip)

[2020-02-12 11:55] DedasPower opened #59 "Gob Problem"
Hello,

I have had this problem, but now it is consistent. So, when it normally works, I only have to click once on the import button in blender and then I can change it as many times as I want in zbrush and click the "goz" button as much as I want and it always updates in blender. Right now, I am having to click on both buttons any time I wanna make a change in zbrush. I am doing a LOT of changes

[2020-02-12 19:04] kromar commented on #59
Hi the problem is that i can not reproduce this, so i have no idea what to look for to fix this if it even is on the addon side.
It would be great if you could try to udpate to the latest addon version and try to clean all the zbrush GoZ files, i often had issues on the zbrush goz side when something was not working rather than on the addon side. and if you find some pattern to reproduce it let me

[2020-02-13 07:52] DedasPower commented on #59
Thank you! I will try to see if there is any trigger pattern.

On Wed, 12 Feb 2020, 19:04 kromar, <notifications@github.com> wrote:

[2020-03-09 10:03] lukedor commented on #55
I completely removed everything concerning the blender 2.81 and installed the new version 2.82 on another drive(E:\). Now GOB works in both directions.
Thank you for a very useful bridge!
With best regards.

[2020-03-09 15:21] kromar commented on #55
glad to hear that you found a solution to this.

[2020-03-09 15:21] #55 closed

[2020-03-27 22:15] CoUnTDaBBuLa opened #61 "Decimated geo from Zbrush imports incorrectly"
When I use the add-on to bring my decimated Hp to blender for retopo, the data must be being read incorrectly. The models are covered in shading issues from verts overlapping edges, they seem like they should be connected to the edge but they aren't which creates shading problems. I confirmed that this was a problem within the add-on by testing the same subtool exported via OBJ to Blender and no s

[2020-03-27 23:41] CoUnTDaBBuLa commented on #61
![Overlapping](https://user-images.githubusercontent.com/39884025/77808723-fb184880-7062-11ea-94a6-f116cbbcdeca.jpg)

[2020-03-28 10:06] kromar commented on #61
hm that looks strange, can you show the same region in zbrush with polyframe enabled?

[2020-03-28 14:45] CoUnTDaBBuLa commented on #61
I apologize, the issue is present in the zbrush polyframe and the only reason it worked as an OBJ was because I forgot to tick smooth shading, therefore it must be an issue somewhere in decimation master.

[2020-03-28 17:27] kromar commented on #61
@CoUnTDaBBuLa this is a common issue with decimation, maybe you want to try zremesher instead

[2020-03-29 22:35] CoUnTDaBBuLa commented on #61
@kromar I was just trying to get the high-poly so I could retopo & bake it down, I wasn't trying to get a low-poly from it or anything. It's a small toolbox without a lot of smaller details and shouldn't need the 1 mil. polys to get no shading issues. I've baked a lot of props but I've never run into these issues using Decimation Master. Thanks for your help, I appreciate it.

[2020-05-02 09:21] kromar commented on #59
@DedasPower do you still have this issue?

[2020-05-02 09:23] #61 closed

[2020-05-02 09:26] kromar opened #63 "apply facemaps to face sets"
for some reason the operator to do this just does nothing, lets see if thats a issue of teh early implementation

https://developer.blender.org/T76324

[2020-05-02 09:30] kromar opened #64 "implement node builder so the user can specify the material node that he wants created on importing zbrush data"
the plan behind this node builder is to have a modular node system rather than a hardcoded node tree where the user can define a node templates to his own needs so the data coming in uses those custom nodes.
This should make the whole material import a lot more flexiable and reduce maintenance compared to a hardcoded system.

[2020-05-02 21:55] kromar opened #65 "export face maps to polygroups"

[2020-05-04 18:33] kromar opened #68 "initial installation of blender goz for zbrush (copy files to documents folder)"

[2020-05-04 18:35] kromar opened #69 "launch blender when sending from zbrush."
only start new instance if no blender is running, how do we choose the target if multiple blender are open?

[2020-05-04 18:35] kromar opened #70 "fix errors /unknown binary tags"

[2020-05-04 21:26] kromar opened #71 "mesh is not transferred correctly"
![image](https://user-images.githubusercontent.com/1472884/81015295-bac89900-8e5e-11ea-9e85-2d5d8b1bbaa6.png)

[2020-05-06 17:57] #38 closed

[2020-05-07 19:40] kromar opened #73 "make sure subtools arrive in same tool when different subtool sets are sent from blender"
there is a scenario when sending different amounts of subtools from blender to zbrush. every time a different amount is sent zbrush considers it as a new tool and they dont get added/replaced as subtools.
The stack for the tool is defined in the GoZ_ObjectList.txt file every time we send subtools from blender to zbrush.
It would be great to have a method when working within the same blend file and

[2020-05-07 20:14] kromar opened #74 "update addon documentation"
nice example for documentation: https://github.com/Clockmender/Precision-Drawing-Tools/wiki

points to add:

- information on file extension limitation with "dots" in object names

[2020-05-07 23:32] niazahmedkhan opened #75 "Import section missing"
Hey, when I install this in my blender 2.82 version it says import section error. I cant import from ZBrush.
![Screenshot_8](https://user-images.githubusercontent.com/63477046/81354305-14de8e00-90ed-11ea-8d10-2ab911e4803b.jpg)

[bug](https://user-images.githubusercontent.com/63477046/81354353-2d4ea880-90ed-11ea-8612-b2dfa29b1474.jpg)

see this .and let me know okay

[2020-05-08 10:25] zelfor commented on #75
![image](https://user-images.githubusercontent.com/8266812/81397044-f1234400-90fc-11ea-83be-ba7774698349.png)
![image](https://user-images.githubusercontent.com/8266812/81397010-dea90a80-90fc-11ea-81f7-8663314270d8.png)

I updated the Add-On and this message has appeared since then ...

[2020-05-08 21:47] niazahmedkhan commented on #75
Why this is not fixing yet??

[2020-05-08 22:28] kromar commented on #75
@niazahmedkhan thanks for reporting this issue. i was already working on the next versions i did not expect any issues with 2.82. i will see if i can get a fix out for this tomorrow.

[2020-05-08 23:21] kromar commented on #75
@niazahmedkhan  Please try the latest release, it should fix the issue you have.

https://github.com/JoseConseco/GoB/releases/tag/v3_2_4

[2020-05-09 09:51] #75 closed

[2020-05-09 10:15] kromar opened #77 "mask is currently imported as vertex group, lets move that to facemaps and make it a optional transfer."
i could not find a way to access the mask data on the mesh so i assume its not there yet.
theres some discussion on how to store masking:
https://developer.blender.org/D5960

[2020-05-09 10:18] #59 closed

[2020-05-09 17:35] niazahmedkhan commented on #75
Hello,
I have checked it and the issue fixed. Thanks fixing the issue. It works
fine now. I hope in the future you will make some good addon for the
community Witing for those. You have done a great job. Wish you all the
best.

On Sat, May 9, 2020 at 3:51 PM kromar <notifications@github.com> wrote:

[2020-05-10 20:25] kromar opened #81 "performance test"
import performance is quite slow see where it comes from and what can be done about it.

[2020-05-14 00:30] spiraloid commented on #34
yeah it's a limitation of the zbrush default GOZ install.  but it just writes out an obj which doesn't have levels.    but we just need to know the unsubdivide number...  I be we could put the number in the name.    GOB_subdiv_6.obj   means unsubdivide 6 times....

[2020-05-15 17:00] kromar commented on #34
some good thoughts there, i think i would try to avoid to have the need for an extra script on zbrush side since it makes the whole setup more complicated so if we can handle it on blenders side would be the easiest solution.

i know we can adapt to shapes with the reshape option in the modifier so i think we do not need the unsubdivide, but im not sure if it can be done on any level, so also some

[2020-05-15 20:02] kromar opened #82 "when polygroup import is disabled the existing vertex weights are not preserved"

[2020-05-16 22:03] kromar opened #83 "export textures not loaded in zbrush (worked in 2.79?)"

[2020-05-16 22:04] kromar opened #84 "profile export"
Export polygroups:  VERTEX_GROUPS
TIME>  Make Mesh >  0.3108
TIME>  Write Mesh Data >  0.6427
TIME>  Write UV >  1.7345
TIME>  Write Polypaint >  2.9020
TIME>  Write Mask >  0.3108
TIME>  Write Polygroups >  3.9754
TIME>  Write Textures >  0.0000

TIME>  Total Export >  9.8761

[2020-05-16 22:42] kromar opened #85 "expose custom strings"
- [x]  uvmap name
- [x]  material name
- [x] texture suffix
- [x] vertex color

[2020-05-16 23:12] kromar opened #86 "fix data export"

[2020-05-19 15:07] Tsukasa-YAMATO opened #87 "Blender's Face Maps are not reflected on Zbrush's Poly Groups."
Note: Facemaps are exported via vertex groups which is a leftover from the vertex group export only, rewrite export to use face maps directly.

Hello. I'm new to GitHub. Can I write bug reports here?
Windows 10 Pro, Blender 2.82a, GoB 3.2.5

The "From Face Maps" function of Poly Groups  in the Preferences of Blender does not work.
The vertex groups are forcibly reflected in the Poly Groups on Zbru

[2020-05-19 17:50] kromar commented on #87
@Tsukasa-YAMATO yes please report issues if you fiond some and thanks for this report, it definitely looks like a bug.

[2020-05-19 18:38] Tsukasa-YAMATO commented on #87
Thank you for your reply.
This bug is very troublesome because Blender overwrites polygroup areas when doing low poly modeling in Zbrush. And this bug is critical because there are many cases which one face is sandwiched between the same polygroups.

![2020-05-20_03h29_08](https://user-images.githubusercontent.com/65609416/82365068-1abc6380-9a4b-11ea-882d-cafa6a99ded1.jpg)

I hope it will be corre

[2020-05-19 18:45] kromar commented on #87
yes i completely understand the issue. I was thinking about this issue and currently the data is sent via vertices so i am not sure how its possible to avoid this. I will have to investigate closer to see what can be done about it.

[2020-05-19 19:30] Tsukasa-YAMATO commented on #87
I don't know the structure in detail, but Blender's facemaps can correctly represent Zbrush's polygroups, so it would be ideal if the facemaps could be converted back to polygroups. (Since it can already get the facemaps from Zbrush's mesh, I feel like it can return the facemaps as Zbrush's polygroups, is it difficult?)

[2020-05-19 19:43] kromar commented on #87
The thing is that at the moment facemaps from blender are converted to vertex groups (and the import is also done via vertex groups) and if you try to make a vertex group like you showed in your examples it will fill the gaps in between so i need to check that code if its possible to send faces directly without the conversion. This makes me wonder if we can also get some unexpected behaviour on im

[2020-05-19 19:57] Tsukasa-YAMATO commented on #87
Now I understood that it's not a small coding mistake or something. This is a difficult problem about polygroup keeping.
I may think about this and try to search some hints as I possible.
Thank you for your time.

[2020-05-19 20:11] kromar commented on #87
I was checking out the code and as far as i can tell it should be possible to do it directly from the face maps, so its just a leftover of the old implementation that i did not adapt to this (somehow missed it).
But yes it will be a bit of work and not a quick fix, im currently working on some other refactoring on the import side and planned to do some improvements on the export so i will most lik

[2020-05-19 20:15] kromar opened #88 "when mask import is disabled facemaps and vertex groups do not work"
If "Mask" is set to OFF in the "Import" settings of preferences, neither vertex groups nor Face Maps are generated. When the mask is checked ON, it works correctly.

[2020-05-19 20:19] kromar opened #89 "import material creates duplicate materials if it already exists"

[2020-05-19 20:25] Tsukasa-YAMATO commented on #87
Thank you for your reactions!
I have registered this site with Watching, and email notifications come each time of some response.
I sincerely hope this issue can be solved smartly.

[2020-05-20 17:45] kromar opened #90 "preserve vertex weights on import"
Here, I have a sphere with 3 vertex groups weight painted on mesh. I assigned particle system to each vertex group so better visual.
I exported mesh using this GoB to zbrush, in zbrush I grabbed some spikes and didn’t change polycount or something critical. Imported back to Blender and all my vertex groups are empty now and there is empty “mask” vertex group have been added.

![image](https://user

[2020-05-20 20:34] kromar opened #91 "optimize for loops"
https://blog.michelanders.nl/2016/02/copying-vertices-to-numpy-arrays-in_4.html

[2020-05-22 21:22] kromar opened #92 "remember interaction mode dont reset to object mode"

[2020-05-24 10:08] kromar commented on #87
@Tsukasa-YAMATO i made a bit progress, the basic export seems to work directly from face maps, so no detour via the vertex groups YAY!
It works on a very basic example, however produces some funky results on more complex models at the moment. There is most likely some issue remaining with the order in which the faces are writtin to the file. Im confident i can fix this soon-ish.

![Screen Shot 05-

[2020-05-24 11:31] Tsukasa-YAMATO commented on #87
Thank you for trying to fix the bug.
I am glad to hear that the basic solution could be found.
It's definitely a funky Rubik's Cube.

If the Face Maps correspond to polygroups correctly when it is sent from Zbrush to Blender, I think it would be logically reversible. You will be able to  realize sending Face Maps as polygroups in Zbrush.

I'm looking forward to implement.

[2020-05-24 14:02] kromar commented on #87
yes that is exactly what im going to look at now to see how zbrush sends thee data and then reconstruct the same pattern.

[2020-05-24 18:51] kromar commented on #87
i got it working but its **very slow** at the moment, if you give it a try and see if you get any strange behavior would be great.

https://github.com/kromar/blender_GoB/archive/b3_3_4.zip

[2020-05-24 21:52] kromar opened #93 "funky mask export when no mask exists"
![image](https://user-images.githubusercontent.com/1472884/82765758-bbc76780-9e19-11ea-8612-3d64f63f7572.png)

[2020-05-24 21:53] kromar opened #94 "data not updated (polypaint,..) if no mesh change was done in zbrush?"

[2020-05-24 23:35] Tsukasa-YAMATO commented on #87
Thank you for your quick work.
I will try to answer after a thorough test. Both you and I need good sleep and rest for getting a good work.

Please wait without in rush.
I will answer it within about 24 hours, if I don't have any troubles.

[2020-05-25 08:55] Tsukasa-YAMATO commented on #87
I have tried GoB Ver.3.3.4.
I have confirmed an issue where the number of vertex groups and Face Maps entries doubles. The problem is that new entries are added while leaving empty entries with no vertex data. However, the issue of "preserving polygroups" seems to have been resolved.

I deleted the empty entries (from both vertex groups and Face Maps) and sent meshes from Blender to Zbrush,  and i

[2020-05-25 09:24] Tsukasa-YAMATO commented on #87
I have found some bugs.
OFF the debug mode is a bit unstable. I will use this with ON for a while.

![2020-05-25_17h09_58](https://user-images.githubusercontent.com/65609416/82796820-1eb80d80-9eb1-11ea-91b3-1cf6fa7aaf9e.jpg)

Vertex groups and Face Maps were not generated when the mesh have many edges connected to on one vertex.

![2020-05-25_16h57_59](https://user-images.githubusercontent.com/656

[2020-05-25 15:23] kromar commented on #87
thanks a lot for the review! hm that is strange with the cylinder cap! i think with the examples you provided and the error messages from the console i should be able to reproduce and fix those issue.

very strange that you get an error when disabling debug, that should only take some timing of various operations.

About the duplication of the maps, since in the end its supposed to be face sets an

[2020-05-25 15:31] kromar commented on #87
i think the first error with the debug is not related to the debug, since i create a random "color code" it looks more that you got unlucky and got a color code that is not compatible with the formatting. i kinda expected this to cause some issues after i understood that its actual color code^^

[2020-05-25 17:24] kromar opened #95 "face map import is not working if the mesh contains a triangle"

[2020-05-25 17:25] kromar opened #96 "replace facemaps random color with color conversion function for facemap "names/colors""

[2020-05-25 18:59] kromar opened #97 "wipe or replace face maps when importing polygroups to avoid duplicates"

[2020-05-25 20:27] kromar commented on #87
hm the issue with the cylinder is strange, it seems to be some issue when the mesh contains triangles. That seems to break most of the import for some reason

[2020-05-26 09:51] Tsukasa-YAMATO commented on #95
![2020-05-26_18h04_44](https://user-images.githubusercontent.com/65609416/82886592-b38a3c00-9f81-11ea-884e-12f5a95ca0f0.jpg)

When I tried it with the release version Ver.3.2.5 and Blender2.82a, the vertex group and Face Maps were correctly generated even if there were triangular polygons. Therefore, this bug indicates that there is a problem in the import implementation of Ver.3.3.4.

You can get

[2020-05-26 17:59] kromar commented on #95
ah yes that helps a lot with the version test that you did! thanks a lot
i was thinking about trying that so i guess its just comparing the changes and figuring out what i did that breaks it.

[2020-05-26 21:25] kromar commented on #95
i was able to identify the part of the code that breaks the whole thing, strangely seems to be the UV part. Ive seen some funky behaviour on the import side already so i guess its time to get to the bottom of this import issue!
Nice catch btw, thanks again for the testing

[2020-05-26 22:25] kromar commented on #95
the issue should be fixed in this version https://github.com/kromar/blender_GoB/tree/b3_3_5

[2020-05-27 13:42] kromar opened #98 "clean facemaps before importing to only have relevant maps"

[2020-05-27 17:39] kromar commented on #95
new version is up where facemaps should be cleaned before they are imported so they should always be valid now https://github.com/kromar/blender_GoB/tree/b3_3_6

[2020-05-27 18:23] Tsukasa-YAMATO commented on #95
Thank you for your quick fix. I will test it as soon as possible. Please wait a day or two.

[2020-05-27 19:07] kromar commented on #95
sure take your time

[2020-05-27 19:16] kromar opened #99 "vertex weights not transferred"

[2020-05-28 11:55] Tsukasa-YAMATO commented on #95
I tested it and it's very good. It is well working even if there is a triangular polygon. Also FaceMaps and the vertex groups cleanup feature are working well.
Thank you for the quick actions.

If there are no problem, no bug fix and completed to the preparation for release, I would like you to release it as a stable version. Because I would like to recommend  the bug fixed version to my friends.

[2020-05-28 15:33] kromar commented on #95
hey im glad it works for you and there are currently no issue remaining with this:D thanks to your amazing feedback it made the fixes a lot easier!

as for the stable release, there is still some work to be done on the vertex groups since their export is currently not working and needs to be rewritten as well and then there are some strange behaviors i want to track down and get resolved on the im

[2020-06-02 15:38] Tsukasa-YAMATO commented on #99
(It would be great to be able to process a mesh rigged with Blender on Zbrush while maintaining weight information! But that may be difficult.)

Is it really a bug? Isn't it possible that the specifications may not be realized, is it?

Below are my predictions.
The vertex groups outputted by Blender probably will have the correct weight information. Zbrush receives it and the user performs brushin

[2020-06-02 19:19] Tsukasa-YAMATO commented on #99
Hi, Mr. Kromar, I'm verry sorry. I've completely mistaken that you are Mr. Jose from the project name.

Thank you for the detailed explanation. There are some parts that I don't understand about multi-layers and polygroups, but I'm glad to know that the vertex weight information may be retained.

If the weight information I have set in Blender would be preserved when I send the mesh back again fro

[2020-06-03 18:20] Tsukasa-YAMATO commented on #99
Dear Mr. Daniel, thank you for your reply.

Now I understood about Question 1 and I also understand it's difficult to balance the problem of the transition period of Blender and the correspondence of GoB.

Regarding Question 2, it's not really a big problem for me , just it's a suggestion that if it hinders the solution of the problem, you may be able to turn it off temporarily.

My biggest concer

[2020-06-03 20:22] kromar commented on #99
do not worry, if the topology is not changed the weight will be remaining on the mesh, this was already working at some point.

[2020-06-03 20:38] Tsukasa-YAMATO commented on #99
Really! It's great.
When I heard it, I can not help to want to try it as beta version.  :)
Please comment it to this thread again if it's available in even a beta version.
I am looking forward to it!

(But you don't have to publish in hurry. It's up to you. I will wait it.)

[2020-06-04 10:24] kromar commented on #99
i worked on a way of transferring the vertex groups and after understanding the issues it was quite simple to do maybe you can give it a try and let me know how it works out^^
Note: the **vertex group import is currently disabled in the preferences** so if you want to test that you need to enable it.

I tried a different approach that decides to which group a face should go if the **groups are ove

[2020-06-04 20:42] kromar commented on #99
Take your time, im happy to wait a bit for your excellent feedback!
I fixed another precision issue in that tag so it should only assign faces that have all their vertices in the group. i think the overlapping will just be a lucky thing at the moment but it might be possible to include weights in that assignment decision but might be a bit overkill.
![image](https://user-images.githubusercontent.c

[2020-06-05 08:36] Tsukasa-YAMATO commented on #99
Hi Daniel,
Thank you for publishing Ver.3.3.7.
I've confirmed that the vertex weight information is kept correctly during the round trip between Blender and Zbrush! Congrats! ! !

At the same time, I have also confirmed that by setting "From Face Maps" for the export setting in the preferences, the polygroup of Zbrush was kept correctly in both Blender and Zbrush. This is an ideal behavior.

GoB V

[2020-06-05 12:07] Tsukasa-YAMATO commented on #99
Hi Daniel,
I have tested GoB Ver.3.3.7 with Blender 2.83.
(First of all, I'm testing the export settings for polygroups with "From Face Maps".)

--------------------

(Bug reports)

If "Mask" is set to OFF in the "Import" settings of preferences, neither vertex groups nor Face Maps are generated. When the mask is checked ON, it works correctly.

And also the similar problem occurs against the expo

[2020-06-05 17:41] kromar commented on #99
i forgot to mention this is not a release yet but a test version, i plan to do that once the mask and some other problems are fixed.

[2020-06-05 18:35] Tsukasa-YAMATO commented on #99
Dear Daniel,
Japan is 3 AM at midnight in weekend. I  will reply after 14 hours or later. Thank you for your quick response.

Please wait for a while to reply. :)

[2020-06-05 20:01] kromar opened #100 "suffix for exported textures? need to be zbrush compatible?"

[2020-06-05 20:04] kromar opened #101 "make polygroup color consistent"

[2020-06-06 08:54] Tsukasa-YAMATO commented on #99
@kromar Thank you for your reply.

(This is about GoB Ver.3.3.7 beta version.)

It's really great!!!

Thank you for explaining how to use the vertex group. It seems to be a function for almost poly paint. And since it supported it in the past, it can be said that it is a remnant.
Face Maps has become an alternative method for polygroups, so it seems to be good with the current implementation where

[2020-06-06 09:46] Tsukasa-YAMATO commented on #99
Even if the mask items are set to ON for both import and export settings, the invisible mask area is generated in the Zbrush mesh by the operation of the following procedure.

1. After applying a mask with Zbrush, import it into Blender with GoB .
2. In the Zbrush window again, and clear the mask with CTRL + background **drag**.
3. Return to the Blender window again and export the mesh to Zbrush w

[2020-06-06 10:38] kromar commented on #58
confirmed that texture transfer was working in the old 2.72 version from blender to zbrush
[GoB_2-72.zip](https://github.com/JoseConseco/GoB/files/4739832/GoB_2-72.zip)

[2020-06-06 13:37] mac4kent commented on #58
I am not use 2.7x any more. I have use Blender 2.90 Alpha and Blender 2.83

[2020-06-06 14:09] kromar commented on #99
i noticed that issue with the ViewMask toggle in zbrush as well, this addon has no control over waht zbrush is doing, it can just provide the file that is sent to zbrush. so its not possible to change the state of that button as far as im aware.
I agree with your perspective and the conflicts in the workflow with the mask exchange so it will be important to be able to disable the mask exchange and

[2020-06-06 14:11] kromar commented on #58
ah yeas i assume everybody is:D i was just trying it on the old version so i know for sure that this was possible and broke somewhere along the way^^
The plan is to make this work again for 2.83+

[2020-06-06 14:47] mac4kent commented on #58
Oh ok. There is no long texture on properties any more. change to Materials. See youtube.
https://youtu.be/ETpc1Y-vgao
(Use Nodes) button

[2020-06-06 15:36] kromar commented on #58
yes im aware of that. i already added support for user specific texture suffixes that i plan to use to identify/create textures in the node systems. of course there are many cases that need to be consdered so its going to be quite a bit of work to make it in a good and intuitive way for the end user.
![image](https://user-images.githubusercontent.com/1472884/83948222-22865100-a81c-11ea-8adc-c37220

[2020-06-06 15:44] mac4kent commented on #58
Allright no problem

[2020-06-06 15:56] mac4kent commented on #58
I just got download GoB for 2.8x just now. I show you picture.

![image](https://user-images.githubusercontent.com/4253305/83948660-7f114e00-a7d3-11ea-95c2-3c6aab5dd95c.png)

[2020-06-06 16:35] kromar commented on #58
yes im still working on a big update that includes the options i show, i intend to fix the texture transfer in that as well. here is the latest version if you want to try the current state: https://github.com/kromar/blender_GoB/tree/b3_3_7

[2020-06-06 16:41] mac4kent commented on #58
Sureeeeeeee and I get download from your link.

[2020-06-06 16:44] mac4kent commented on #58
![image](https://user-images.githubusercontent.com/4253305/83949735-47f26b00-a7da-11ea-97d1-5019e2b8cfe8.png)

[2020-06-06 17:11] mac4kent commented on #58
Some one made
https://www.patreon.com/posts/3d-model-bugs-14969357

I fix Blender 2.90 Alpha this my "Bugs Bunny.zip and open "BugsBunny.blend"
https://www.dropbox.com/s/jlxdxzyl2srbgf0/Bugs%20Bunny.zip?dl=0
![image](https://user-images.githubusercontent.com/4253305/83950230-ffd54780-a7dd-11ea-8bb3-4bbb47565ebd.png)
![image](https://user-images.githubusercontent.com/4253305/83950233-1085bd80-a7de-

[2020-06-07 09:54] kromar commented on #99
@Tsukasa-YAMATO it seems its possible to run Zscripts as post process, this would mean it should be possible to control the state of the masking button. i will give that a try, maybe this opens up a whole new layer of possibilities:D

[2020-06-07 12:23] Tsukasa-YAMATO commented on #99
@kromar
That is good news.
However, if you try the implementation and it becomes too complicated, you may have better to move the issue to a future implementation plan.
This is because there are less people who currently expect the mask area to be restored, I guess. Many users think that if the mask is cleared off, that's enough.

(Of course the implementation testing is up to you. :) )

[2020-06-09 17:56] kromar commented on #99
@Tsukasa-YAMATO i disabled some of the options for the release that are not working or breaking transfers like the mask, so it will be enabled by default and i can take care of that in a later release.
i will make a release from v3_3_8 which you can find already here if you want to udpate to this version already: https://github.com/JoseConseco/GoB/tree/v3_3_8

[2020-06-09 18:16] Tsukasa-YAMATO commented on #99
@kromar Thanks Daniel,
I am happy that you are working for the release of GoB stable version. Japan is  at 3 o'clock in the midnight. I will test it after 14 hours or later and I'm going to report the results.
Please wait until then.
Cheers!

[2020-06-10 16:26] Tsukasa-YAMATO opened #103 "Zbrush (sometimes) crashes when sending a mesh from Blender to Zbrush without a Face Maps entry"
environment
Windows 10 Pro
Blender 2.83
GoB 3.3.7
Zbrush 2020.1.4

-----------------------------

Before I tried GoB Ver.3.3.8 beta, I have found a bug, so now I report it. (I will try it later with Ver.3.3.8, but it will probably be reproduced.)

There are two patterns of results. I will report from the bad one.

Zbrush crashes on meshes that don't have Face Maps entries. (i.e.  the mesh has been

[2020-06-10 17:16] Tsukasa-YAMATO opened #104 "Importing an isolated vertex or edge (non-manifold) into Blender with GoB makes it invisible even in edit mode and cannot be selectable."
This maybe  a bug of GoB or Blender's side.

environment
Windows 10 Pro
Blender 2.83
GoB 3.3.7
Zbrush 2020.1.4

-----------------------------
Before I tried GoB Ver.3.3.8 beta, I have found a bug, so now I report it. (I will try it later with Ver.3.3.8, but it will probably be reproduced.)

The reproduction procedure is shown below.

1. Open the Dog project in Zbrush and send to Blender with GoB
2

[2020-06-11 09:03] Tsukasa-YAMATO opened #105 "Invisible mask areas are generated in Zbrush when exported from Blender to Zbrush if a mesh had mask areas before"
environment
Windows 10 Pro
Blender 2.83
GoB 3.3.8 ( published as “FaceMapsExport”)
https://github.com/JoseConseco/GoB/issues/103#issuecomment-642157397
Zbrush 2020.1.4
(Preferences settings remain the default values of Ver.3.3.8)

-------

This issue is related to the following bugs: It was a bug in Ver.3.3.7, but it was also found in Ver.3.3.8.

https://github.com/JoseConseco/GoB/issues/99#issuec

[2020-06-11 09:14] Tsukasa-YAMATO commented on #104
@kromar

I just came up with it, so I'll comment before I forget it.
I came up with something might be UV related. Because I remembered this bug and your comment.

https://github.com/JoseConseco/GoB/issues/95#issuecomment-633926320

(Of course, it's possible that it's irrelevant. I'm sorry if so.)

I hope you find it helpful.

[2020-06-11 16:32] kromar commented on #104
This is a strange one, i am able to reproduce it and spent quite some time trying to understand the problem, im not sure yet why this happen.
Its a strange issue that should not happen and im not sure if this might be a bug in blender. I will do some more testing and see if i can fix this.

[2020-06-11 17:16] Tsukasa-YAMATO commented on #104
@kromar
Dear Daniel,
Thank you for confirming. I am pleased that you have reproduced it.
Single isolated vertex and edge in Blender display correctly in edit mode. In particular, the A key is displayed correctly.
However, it becomes invisible via the GoB addon. If I consider only this, GoB may have a bug.

But maybe there's a problem with the Python provided by Blender, as you pointed out. It's be

[2020-06-11 18:24] kromar commented on #105
Aha i did misunderstand this the first time you described it, now its clear what you maen.
No i did not implement this but thought it was related to another bug where a hidden checkerboard mask is sent to zbrush. that one should be fixed.

![Screen Shot 05-24-20 at 11 52 PM](https://user-images.githubusercontent.com/1472884/84425052-41705300-ac21-11ea-940c-c45c1282fcc9.PNG)

As for this current is

[2020-06-11 18:33] kromar opened #106 "custom project path"

[2020-06-11 18:54] Tsukasa-YAMATO commented on #105
@kromar
Whether there had been  a mask on the Zbrush mesh or not, it is enough if the mask area is cleared when returning from Blender to Zbrush.

That is a request from many creators. :)
(Almost all creaters never want  to recover previous mask area recovering but they wants a cleared mask mesh.)

[2020-06-11 22:01] kromar commented on #104
@Tsukasa-YAMATO i made a fix for this issue and also there was also something that could cause blender to crash on import so that should also be fixed.
One limitation however that comes from the GOZ format is that it has no edge information, so if you send a mesh for the first time from zbrush to blender that has "edges without faces only the vertices can be built in blender. Not much i can do abo

[2020-06-11 22:12] Tsukasa-YAMATO commented on #104
@kromar
Good morning, Mr. Daniel. Japan is 7 o'clock but I'm still in bed. After 12 hours or later, I will check the content of comment and  the new GoB version.

Anyway thank you for your Struggle.
Please give me some time.
Zzzz

[2020-06-12 09:30] Tsukasa-YAMATO commented on #104
@kromar
Thank you for your quick fix.
I confirmed what you were saying about the issue of isolated non-manifolds.

Isolated vertices or edges are now correctly selected in Blender's edit mode, even through GoB. So it will be found them when checking non-manifolds. There is no problem anymore.

Sending an edge-only non-manifold mesh from Zbrush to Blender "for the first time" is a reduction to only

[2020-06-14 18:52] SbstnDC opened #107 "Crease blender to zbrush it's nor working! T_T."
Hello, it happens to me that when I export a mesh with crease, zbrush does not recognize it, I am with 2020.4, and blender 2.90a.

[2020-06-15 09:01] kromar commented on #107
@SbstnDC i dont think there is much that i can do abut this, the GoZ format has no edge information so i doubt that its possible to send crease information. Or did this work in older versions?

[2020-06-15 10:58] SbstnDC commented on #107
@kromar
ohh it is true, I have tried previous versions and it has not worked, I think this time I export without applying modifiers, so I thought that crease was exported, my mistake.

 Anyway, it would be interesting if it is possible to send the crease to zbrush to avoid applying it manually.

 Thank you

[2020-06-15 11:46] kromar commented on #107
Yes it would be indeed and i will have a look if it could be somehow possible. However the limitation here will be the GoZ format and what zbrush does with it so not much we can do within that.
However it might be possible to run it as a zscript after the export has been done. Since i have 0 experience with that part i cant tell whats possible at this point.

[2020-06-15 15:03] Tsukasa-YAMATO commented on #107
@SbstnDC
In general, addon’s developers do not support "alpha version" because of many many troublesome for tracing and dealing with daily changing of alpha versions.

And also in general as well, 3DCG software’s crease settings are almost all unique to the software itself and are often incompatible. I recognize the same with Blender and Zbrush.

For example, is it support crease settings in OBJ f

[2020-06-16 20:49] kromar commented on #105
@Tsukasa-YAMATO i tried to not export the mask from blender but it seems i can not do that without clearing the mask in zbrush.
I tested a couple scenarios and if the mask "vertex group" is not present or i do not export the mask from blender the **mask in zbrush is cleared**.

I think we are on a limitation of what the transfer can do, i am not able to make something that does not clear the mask

[2020-06-17 08:48] Tsukasa-YAMATO commented on #105
@kromar
Thank you for a new implementation.

I have tested it. Very good implementation.
At least this is no problem because the "invisible mask" caused by GoB transfer is no longer present. Also, if users need a mask, they can turn off the "clear mask" and operate it, so I think it is an implementation that satisfies all users.

[2020-06-17 10:07] kromar commented on #105
great to hear that you like it:D so i will bring this back then and create a release version!

[2020-06-17 22:25] kromar commented on #88
additional import options enabled
![image](https://user-images.githubusercontent.com/1472884/84956800-2bb7cd80-b0fa-11ea-8383-ac4862196fb6.png)

[2020-06-18 12:31] Tsukasa-YAMATO commented on #105
@kromar
Congratulations on the stable release of GoB Ver3.3.8! And thank you for writing my name in the release notes. I am very happy.
Now I can finally introduce the stable version of Ver.3.3.8 to many friends.

(In addition, I have also tested Ver.3.3.9 beta version. It is a version with an "mask " item added to import settings. Currently, for users who do not use mask, there wiil be no differe

[2020-06-18 14:22] Tsukasa-YAMATO opened #111 "Stable released Ver.3.3.8 is something wrong. No Face Maps entry is generated."
Isn't this a mistake in file management? In stable version Ver.3.3.8, no entry is created in Face Maps. Whereas  beta Ver.3.3.8 (Kromar Verision) And Ver.3.3.9 works correctly. Please check the contents of the file once published at the following URL.

Wrong stable version published below:

https://github.com/JoseConseco/GoB

https://github.com/JoseConseco/GoB/archive/v3_3_8.zip

----

Correct wor

[2020-06-18 14:55] kromar commented on #111
Uhh thanks for the report i will have a look

[2020-06-18 15:03] Tsukasa-YAMATO commented on #111
@kromar
If you confirm the status of the correct file, please write the correct public URL. I'm not quite familiar with GitHub, so I'm not sure where it is correct published URL.
Also, the URL you write will be sent to my friends via social media in the future, so it is very important to confirm that it is in the correct state.

At least I have confirmed that it is correct in every beta version, s

[2020-06-18 15:05] kromar commented on #111
i just tested the face map transfer and it seems to work fine for me on the v3_3_8 tag
![image](https://user-images.githubusercontent.com/1472884/85037617-e345f180-b185-11ea-9a68-e303cd7a9a56.png)

i will do a file comparison with the downloaded zip, maybe something went wrong there

[2020-06-18 15:06] kromar commented on #111
did you download this version from the releases? https://github.com/JoseConseco/GoB/releases

[2020-06-18 15:12] kromar commented on #111
they seem to be the exact same files so it should be correct. do you maybe have multiple versions installed that might cause some conflicts? when extracting the release it usually creates a folder with the version.

![image](https://user-images.githubusercontent.com/1472884/85038262-ad553d00-b186-11ea-9754-6833e6bb4559.png)

[2020-06-18 15:14] Tsukasa-YAMATO commented on #111
I have downloaded it from here.
https://github.com/JoseConseco/GoB

![2020-06-19_00h10_28](https://user-images.githubusercontent.com/65609416/85038257-591b7e80-b1c1-11ea-9d1b-13cf7ffa30d2.jpg)

and also tested from here.

https://github.com/JoseConseco/GoB/archive/v3_3_8.zip

![2020-06-19_00h12_17](https://user-images.githubusercontent.com/65609416/85038591-b9122500-b1c1-11ea-8742-526f3eab38e7.jpg

[2020-06-18 15:19] #88 closed

[2020-06-18 15:20] kromar commented on #111
both of these should give you the same versions. but the later one should be the correct release from tag v3_3_8

[2020-06-18 15:28] Tsukasa-YAMATO commented on #111
I'm using this.
https://github.com/JoseConseco/GoB/archive/v3_3_8.zip

After all it is strange. Transfer Zbrush template Soldier Kneeguard to Blender with GoB. In my environment, no entries are created in Face Maps. Correctly, two entries (2 polygroups) must be created automatically.

![2020-06-19_00h22_27](https://user-images.githubusercontent.com/65609416/85039910-2bcfd000-b1c3-11ea-82ce-e47299a

[2020-06-18 15:28] kromar opened #112 "create material for texture import"
**v3.4.1**
https://github.com/kromar/blender_GoB/tree/feature/texture_node

![image](https://user-images.githubusercontent.com/1472884/85928632-bba20800-b8ae-11ea-828e-8e0e7fe405e6.png)
![image](https://user-images.githubusercontent.com/1472884/85928572-46363780-b8ae-11ea-9120-0393bcbd8c01.png)
![image](https://user-images.githubusercontent.com/1472884/85928553-1e46d400-b8ae-11ea-814e-41fb740d3c1b

[2020-06-18 15:35] kromar commented on #111
this is strange, i can not reproduce it. can you check if you get any errors in the command line?
![image](https://user-images.githubusercontent.com/1472884/85041318-0ffc0800-b18a-11ea-93e0-f5ecef8fa1ad.png)

[2020-06-18 15:41] Tsukasa-YAMATO commented on #111
What! It's very strange. Restart my windows PC and I will also test it with Blender 2.82a, 2.83 and Zbrush 2020.1.3, 2020.1.4. Please wait for a little while.

I will use this.
https://github.com/JoseConseco/GoB/archive/v3_3_8.zip

[2020-06-18 15:59] Tsukasa-YAMATO commented on #111
I tried installing GoB release version to 2.82a for the first time. Face Maps was created successfully. When I looked at the environment settings, I noticed that Clear Mask was turned off. On the other hand, it was ON when I was testing it with 2.83. There may be some hints here. I will try a little more.

![2020-06-19_00h55_37](https://user-images.githubusercontent.com/65609416/85044070-1c06ba80-

[2020-06-18 16:15] Tsukasa-YAMATO commented on #111
@kromar
In any case, the fact that 2.82a is normal in my environment and 2.83 is abnormal in my environment is very likely to be my environmental problem. I will try to find the cause. I will comment if I understand the cause. (Maybe it's no problem for many users, but it's possible that it may be worth the information.)
I will write again in a few hours or days.

Please put it on hold and take a

[2020-06-18 16:45] Tsukasa-YAMATO commented on #111
@kromar
Dear Daniel,
I fully understood the cause. I will report the details again tomorrow. Because Japan is about 2
 A.M. and I'm very sleepy :)
Simply put, this is a matter of my environment. However, it is a phenomenon that can occur even for users who have been using GoB add-ons for a long time.

The bottom line is, "Once you completely remove the GoB add-on from Blender!" this is the answer.

[2020-06-19 08:12] Tsukasa-YAMATO commented on #111
@kromar
In my case, it seems that the "some data that cannot be rewritten by replacing the file in the GoB folder" such as the Blender cache file was doing a bad thing.
Because during the beta test, I was always swapping all the files in the GoB folder. And during the beta test there was no problem. However, when I applied this working process to the stable version, the above strange phenomenon oc

[2020-06-20 14:50] kromar commented on #111
Very strange that this happend, i can no think of a reason this should happen if the files are overwritten. I will close this for now and if it happens to more people i will do some more testing on this.

[2020-06-20 14:50] #111 closed

[2020-06-20 14:58] Tsukasa-YAMATO commented on #111
I also don't know the cause when thinking logically. However, I got an error when deleting the first GoB addon. (I forgot to take the screenshot.) After that, I uninstalled GoB again, and then reinstalled the newer GoB again and then it worked well, so it's a mystery.
However, since there is no doubt that the above procedure made correct working, I decided to leave a history above, hoping it would

[2020-06-20 15:35] kromar commented on #111
Yes it is for sure, i plan to update the documentation and add a troubleshooting section since there have been quite a few scenarios  in the past that caused issues so i think its a good idea to provide a troubleshooting guide of some sort.

[2020-06-20 15:41] Tsukasa-YAMATO commented on #111
I think that is good. I hear that some of my friends have had a hard time swapping GoB addons. I think the point is "complete uninstall". If users can do that, a fresh re-install will be fine easily.

[2020-06-21 10:04] kromar opened #113 "crash when applying face maps to face sets"
Activated the option in ZBrush prefs, but now Blender crashes each time I try to GoZ all from ZBrush to Blender. I’m using the latest 2.9 alpha build.

Tested some more…

Blender only crashes if you send something you created from scratch in ZBrush (with Import as Subtools activated) to an empty Blender.

Blender doesn’t crash if you send a scene from Blender to ZBrush first, but when I do some de

[2020-06-21 15:43] kromar commented on #113
@Tsukasa-YAMATO a crash was reported when "apply face maps to face sets" is enabled (which it is by default) and GoZ all in zbrush is used.
I recommend disabling this until i found a solution to fix the crash.

![ad1dcb6f826076bd99ddb1dc63282d2e22c38808](https://user-images.githubusercontent.com/1472884/85228891-9b71d500-b3e6-11ea-8949-2f3f528da147.png)

![ddc1b09bf500cf8cafc356a5306eb95297cbf87f_

[2020-06-21 15:47] kromar opened #114 "replace attribute node with vertex color node"

[2020-06-21 15:54] kromar opened #116 "position change if object in blender is offset from origin"

[2020-06-21 18:02] Tsukasa-YAMATO commented on #113
@kromar
Japan is late at night, so my head doesn't work well.
By the way I do not recommend verifying the operation on the alpha version. The alpha version changes every day by day, and many users are most interested in "What about the stable version Ver.2.83 (LTS)?"
I'll test it when I have enough time, but it's on 2.83. It is not an alpha version.

[2020-06-21 19:25] kromar opened #117 "permission error on gozit"
Traceback (most recent call last):
  File "C:\Repo\BlenderDevelopment\development\src_28\addons_contrib\GoB\GoB.py", line 701, in run_import_periodically
    bpy.ops.scene.gob_import(ctx) #only call operator update is found (executing operatros is slow)
  File "c:\Repo\BlenderDevelopment\deployment\blender28\blender\2.83\scripts\modules\bpy\ops.py", line 199, in __call__
    ret = op_call(self.idn

[2020-06-21 20:12] kromar opened #118 "error when no object is selected an export is used"
Traceback (most recent call last):
  File "C:\Repo\BlenderDevelopment\development\src_28\addons_contrib\GoB\GoB.py", line 1105, in execute
    bpy.ops.object.mode_set(bpy.context.copy(), mode=currentContext)
  File "c:\Repo\BlenderDevelopment\deployment\blender28\blender\2.83\scripts\modules\bpy\ops.py", line 199, in __call__
    ret = op_call(self.idname_py(), C_dict, kw, C_exec, C_undo)
RuntimeE

[2020-06-22 07:36] Tsukasa-YAMATO commented on #113
@kromar
GoB Ver.3.3.9
Blender 2.83

Blender didn't crash on GoZ All in this environment, but the ability to transfer to Face Sets was barely functional.
But if I transfer them one by one, it works.
Many of my friends (3DCG creators) want one subtool transfer of "reliable round trip to Blender and Zbrush" rather than a bulk transfer. Because Zbrush's mesh can have so massive polygons that it increa

[2020-06-22 09:01] Tsukasa-YAMATO opened #119 "Position shifting each time the mesh goes back and forth between Zbrush and Blender"
![2020-06-22_17h36_46](https://user-images.githubusercontent.com/65609416/85268804-f8868d00-b4b1-11ea-8002-d5bf6c1c6a8b.jpg)

Environment
-------
Zbrush 2020.1.4
GoB Ver.3.3.9
Blender 2.83

---------

Reproduction method
-------
1. Move back and forth between Zbrush and Blender (mesh may be created on either side first)
2. Move or rotate the mesh "in Object mode" in Blender (Rotation 30 degrees is

[2020-06-22 09:04] Tsukasa-YAMATO commented on #113
@kromar
I think that it is different from the "All button problem" but it is very likely related to the misaligned problem, so please take a look.

https://github.com/JoseConseco/GoB/issues/119

[2020-06-22 14:54] kromar commented on #119
Thanks for the in-depth report, this is outstanding!
I think this should be fixed in this branch: https://github.com/kromar/blender_GoB/tree/bugfix/crash-and-position-change
would be great if you could try it and let me know if it fixes the transformation issues you encountered.

[2020-06-22 15:20] kromar commented on #113
@Tsukasa-YAMATO of course its important to reproduce the crash on the release version, i usually test on both versions to see if there are unexpected things happening. And recently i got those crashes on one system with 2.83 and not on my other one but it seems i was just doing something different. i was able to reproduce the crash consistently on 2.83 as well and that should never happen. However

[2020-06-22 16:37] Tsukasa-YAMATO commented on #113
@kromar
I think it's better not to go too deep into multi-transfer now. The reason is as follows.

1. GoZ function itself has not been updated from Ver.1.01 (last updated on April 11, 2011)
2. Pixologic is unlikely to focus on GoZ
3. GoB is an unofficial add-on, so Pixologic will not make an effort unless they feel an powerful merit for GoB, I guess.
4. And in the first place, I feel that GoZ's mu

[2020-06-22 16:43] kromar commented on #113
Haha reminds me of the last time i asked something about goz, never got an answer:D then again ita always worth a try, i had some good communicatiin with the pixologic team on other higs i reported in zbrush so i know they are intrested to make their product more stable.

I agree with you, most users will probably send only one object. However crashes need to be avoided even if its not a nr1 prior

[2020-06-22 16:58] Tsukasa-YAMATO commented on #113
According to the information, in Zbrush 2020.1.4, the official add-on for "GoZ for 3ds Max" does not work and is causing a problem.
So the Pixologic team will be busy doing that. And the announcement of the revised release is undecided. I don't know whether the team really values ​​GoZ.

https://www.zbrushcentral.com/t/goz-not-installing-in-3ds-max-2021/365876/4

It seems that they will respond to

[2020-06-22 17:17] kromar commented on #113
to me that looks like they are busy fixing issues, maybe the one i encountered is also included there. Yeah it will be a while until we see a release with those fixes so i better file my report now so they have a chance to get it in if they want to.

[2020-06-22 18:04] Tsukasa-YAMATO commented on #119
@kromar
Can you change the version number? For example, Ver.3.3.9.1.

I'm starting to lose control over whether the version number I'm testing now is a stable 3.3.9 or something else on the branch. If the version number shown in the Blender's preferences is 3.3.9.1, etc., it will be easier to communicate.
Right now, I'm starting to lose track of which version is "Ver.3.3.9".

[2020-06-22 18:11] kromar commented on #119
sure i will update the branch to 3.3.10

[2020-06-22 18:22] Tsukasa-YAMATO commented on #119
@kromar
Thank you for your quick response.
I have just confirmed it now.
Please see the image.

![2020-06-23_03h16_04](https://user-images.githubusercontent.com/65609416/85322057-ad479b00-b500-11ea-9195-1df01cec3f41.jpg)

It is clear that good communication is possible.
Thank you!

In the future, if there are a minor change and you publish it, you should change the numbers. Otherwise, misunderstan

[2020-06-23 08:12] Tsukasa-YAMATO commented on #119
@kromar
With GoB Ver.3.3.10, it works without any misalignment. I was surprised  and glad at the smarter implementation than my suggestion. :)
Great!
I will use Ver.3.3.10 for a while.

[2020-06-23 15:23] kromar commented on #119
great to hear that this solved your rotation issue as well!

[2020-06-23 22:13] kromar commented on #46
@gunterrf @xiaoilao

3 new ways of scaling have been added, would be great if you could try them out and let me know if you experience any issues and if something is missing.
https://github.com/kromar/blender_GoB/tree/feature/export-scale

**Manual**: lets the user define a manual scaling factor
![image](https://user-images.githubusercontent.com/1472884/85469051-7aa7ac00-b5ad-11ea-9618-16bfea13198

[2020-06-23 22:36] Tsukasa-YAMATO commented on #46
@kromar
There is a very complicated issue with scaling between Zbrush and other software. Blender is no exception. So you may have to wait a while, but I'll definitely reply. A scale match between Blender and Zbrush is desirable for many users. I'm sure I will cooperate!

[2020-06-23 22:42] kromar commented on #46
I am aware of the scalingscenario and have done a lot of testing on the interaction between blender and zbrush and am quite confident that the aproach is good.
Of course i expect some anomalies that i have not yet encountered but i think we can get the logic down.
One thing i did not test yet is what happens if the unit system in blenser is changed but as far as ive seen it ahould still work since

[2020-06-23 22:46] Tsukasa-YAMATO commented on #46
Bit by bit, step by step.

[2020-06-24 18:42] Tsukasa-YAMATO opened #122 "If there is a period in Blender object name, it will be converted to underscore."
![2020-06-25_03h09_09](https://user-images.githubusercontent.com/65609416/85610399-eebb8000-b691-11ea-835d-29dc168d6d1d.jpg)

There is no name mismatch, but I don't understand why the period in Blender is changed to an underscore. Is it necessary?

I tried it a little and Zbrush could import it as a sub tool name even if there is a period in the ZTL file name, so if Blender converts the period to

[2020-06-24 21:22] kromar commented on #122
i do not know why this is done, maybe because the dot is often used for file extensions and goz has issues importing it, but thats speculation at this point. i will have a look if it is needed.

[2020-06-25 13:10] JoseConseco commented on #122
zbrush cant read . and converts them _ automatically as far as I remember. That is why GOB converts . to _ , so then when asset comes back from zbrush, then name will match.

[2020-06-25 13:10] #122 closed

[2020-06-25 13:25] kromar commented on #122
I can confirm that zbrush cant read the .001 and will remove it so you end up with objects that have the same name. What was strange however was that the name in my tests have also been changed in blender which should not happen and as far as i remember never did.

[2020-06-25 13:40] Tsukasa-YAMATO commented on #122
@JoseConseco
Thank you for your reply.
Certainly, when I changed the '_' in line 1117 of GoB.py to '.' and tested it, the GoZ cache file name had a period, but it was read into Zbrush until just before the period. As you say, this is very troublesome.

And to avoid this, it is reasonable to use an underscore and to chage both of them from period to underscore. I agree with you.

Thank you for your

[2020-06-25 15:47] kromar commented on #122
@Tsukasa-YAMATO i added a note to the manual update task to add some infomration on the limitation of object name extensions.

Do the object names in blender change for you to a underline as well? that would be good to know so we might be able to think about a solution for this

[2020-06-25 16:01] Tsukasa-YAMATO commented on #122
@kromar
Of course in my Blender the period is changed to underscore after GoB export. That is a device of Mr. Jose. I also agree. This makes the object name in Blender and the sub tool name in Zbrush common due to the underscore. It is a mechanism that avoids name mismatch.

Please see the attached image carefully.

![2020-06-25_03h09_09](https://user-images.githubusercontent.com/65609416/85610399

[2020-06-26 15:22] Tsukasa-YAMATO opened #123 "Vertex Colors entry "Col" is not created in Blender when Zbrush transfers an object that has never been polypainted"
This is a trivial bug. Not fatal.

![2020-06-26_23h56_04](https://user-images.githubusercontent.com/65609416/85873085-9dcf9700-b80b-11ea-98d1-08ed7887c315.jpg)

![2020-06-26_23h54_34](https://user-images.githubusercontent.com/65609416/85873346-f3a43f00-b80b-11ea-9c0f-8624b1200ed6.jpg)

Reproduction procedure
--------------
1. Open a template project, for example Demo Anime Head
2. GoB transfer
3.

[2020-06-26 15:54] kromar commented on #123
thanks for the report. yes this should be easy to fix, what would be the desired behavior from your side. that it does not create the node when no vertex color is created or create a empty node?
I would go for not creating the node if you agree on that.

[2020-06-26 16:17] Tsukasa-YAMATO commented on #123
I've just found a new bug. And that is unavoidable if you implement your suggestion.

![2020-06-27_01h13_32](https://user-images.githubusercontent.com/65609416/85878488-bc399080-b813-11ea-86fe-d5afb43e542f.jpg)

I tried transferring the Dog with an extremely light gray of RGB:253,253,253. But no Col entry was created. There is a bug in threshold judgment.

So a quick implementation should always c

[2020-06-26 16:56] kromar commented on #123
that is a interesting find, remembers me on a comment i made in the code about a 250 max value. i guess i will have a look at that one:D

[2020-06-26 17:06] Tsukasa-YAMATO commented on #123
@kromar
Please observe the source code carefully.
In general, 24-bit true color is 8 bits for each of red, green, and blue, that is, 256 colors (0 to 255). very important.
So pure white is RGB:255,255,255 in general.

For thresholds, you can get the answer by testing RGB:254,254,254, which is more stringent than above RGB:253,253,253, and in the other had pure white is RGB:255,255,255.

(I'm very

[2020-06-26 18:00] kromar commented on #123
i made fixes for both, no clue why there was such a limitation built in so i removed it. So far it seems to work for the full range for me.

increased version to V3.3.12 (note this does not include the scaling options which are in v3.3.11)
https://github.com/kromar/blender_GoB/tree/bugfix/vertex-color-limitation

[2020-06-26 18:24] Tsukasa-YAMATO commented on #123
@kromar
Thank you for quick fix. I've tested it.
Unfortunately the handling between thresholds 254 and 255 is incorrect.
Nodes are not created with RGB:254,254,254.

![2020-06-27_03h18_49](https://user-images.githubusercontent.com/65609416/85889022-a5039e80-b825-11ea-9638-e494d654ec5f.jpg)

Please check again.

[2020-06-26 18:55] kromar commented on #123
Hm strange, it did work for me even at 255, let me have another look.

[2020-06-26 19:04] Tsukasa-YAMATO commented on #123
It is correct that if RGB: 255, 255, 255 no node is created, however, for RGB: 254, 254, 254 a node should be created.
It's a threshold issue.

[2020-06-26 19:34] kromar commented on #123
i pushed a fix, the material was created before the vertex color so on the first push since there was no vertex color the node would not be created. The materials are now generated after the textures and vertex data is imported.
Lets see if this is solving your issue.

[2020-06-26 20:02] Tsukasa-YAMATO commented on #123
It's pretty sleepy but got download it and tested it.

https://github.com/JoseConseco/GoB/issues/123#issuecomment-650266291

I think you finally adopted "better plan, not the best pan" in the comments above, is that correct?
Because the node was created even in the case of pure white RGB:255,255,255.
In other words, does it always  creating nodes when that is the case in the preference settings as

[2020-06-27 09:01] kromar commented on #123
not sure what you want to ask with that

For a node to be created from polypaint/vertex color the Material import needs to be set to Polypaint.
![image](https://user-images.githubusercontent.com/1472884/85918660-026b1000-b865-11ea-93fa-959e9747a9d0.png)

Now with the Material import set to Polypaint there are these  conditions for the node creation:
1. if no vertex color is created/imported no nod

[2020-06-27 09:56] Tsukasa-YAMATO commented on #123
I am sorry that I wrote a difficult sentence.

(The reason I was confused at the time was that when I transferred a Dog with a poly paint color of RGB:254,254,254 to Blender, the Col entry was created but the material node wasn't. It was strange.
However, when I downloaded it again now and tested it, it worked fine. And with RGB:255,255,255, white Col entry and material nodes were created as well.

[2020-06-27 10:05] kromar commented on #123
im glad to hear that it works for you as well now! one more bug down:D

[2020-06-27 13:06] Tsukasa-YAMATO commented on #123
By the way, it's a trivial matter, but I think Blender 2.83 is the mainstream, so I think you should also change the following description to 2.83. Although it doesn't affect the functionality of GoB at all. :)

Line 38 of init.py.

![2020-06-27_21h48_07](https://user-images.githubusercontent.com/65609416/85922962-07aa7800-b8c2-11ea-8118-13f0657df446.jpg)

[2020-06-27 14:23] kromar commented on #123
This shows the minimum API version and is set to 2.82 because facemaps have been added there and not available in earlier versions.
There is no limitation for 2.83 only at the moment, and therefore the min version 2.82 still applies here.

[2020-06-27 14:50] Tsukasa-YAMATO commented on #123
I understand. I didn't know it was a minimum requirement. Though I don't know anything about Blender's Python in the first place.  :D
I think it's a very embarrassing question, so you can delete the question and your comment and this with your own authority. :)

[2020-06-27 17:49] kromar commented on #112
@Tsukasa-YAMATO i restored the texture import to how it was working for blender 2.79 and was broken due to the move to node setups.
The textures from zbrush will now like the Vertex Color create nodes for the specific textures that are sent over.
This is only possible from zbrush to blender and not in the other direction due to some limitations on GoZ.

[2020-06-27 18:05] Tsukasa-YAMATO commented on #112
@kromar
Thanks for your comment. But I could hardly understand.
I have absolutely no expectations for textures in Zbrush. Zbrush and texture are too bad friends. My expectations for GoB are up to modeling, polypaint is just an extra option, and I'm totally indifferent to textures. I do it on Blender, not on Zbrush.

And I'm also not interested in Blender 2.79.

I think you can act on this matter a

[2020-06-27 19:27] kromar commented on #112
Alright, take it as information in that case that its available;D

[2020-06-29 17:19] kromar commented on #73
Since zbrush seems to be confused when sending different amounts of object in different combinations and will create a tool for each set the idea is to always send each object alone to avoid what zbrush does. This seems to work but there are some strange things happening when zbrush imports the objects.

it seems there is a bug in the GoZ export of zbrush that changes the exported tool name, this

[2020-07-09 07:14] SbstnDC opened #127 "Transform origin problem"
Hello everyone, when I send from zbrush to blender the transformation appears wrong, in blender a couple of units deviate from the origin, check the picture.

![image](https://user-images.githubusercontent.com/22725270/87008737-7cd05400-c1c4-11ea-8df9-29bdefa3d2d0.png)

[2020-07-09 16:19] kromar commented on #127
@SbstnDC  can you try the latest version from here https://github.com/JoseConseco/GoB/archive/GoZ-Blender_28.zip
i merged a fix for the position in there which should fix your problem.

[2020-07-11 12:07] SbstnDC commented on #127
it has not worked, when I send from blender to zbrush, or the other way around 4.4 units

![image](https://user-images.githubusercontent.com/22725270/87219179-66a7cc80-c359-11ea-84e5-69754686c405.png)

[2020-07-11 12:34] kromar commented on #127
@SbstnDC can you provide the exact steps that you do to reproduce this issue? and maybe provide a blend file to reproduce it? and please attach a screenshot of the GoB preferences so i can test the same configuration.

[2020-07-11 13:42] SbstnDC commented on #127
@kromar well, everyday use, no step other than creating and editing objects between blender and zbrush
![image](https://user-images.githubusercontent.com/22725270/87225130-206b6100-c38b-11ea-9fd2-e6339f9721a6.png)
i try fix manual all object but when send it all to zbrush, the list doesn't just finish sending everything
![image](https://user-images.githubusercontent.com/22725270/87225413-16e2f880-

[2020-07-11 14:05] SbstnDC commented on #127
[MimicBook2.zip](https://github.com/JoseConseco/GoB/files/4906880/MimicBook2.zip)
HERE the file

[2020-07-11 15:17] Tsukasa-YAMATO commented on #127
@SbstnDC
It's no problem in my environment. I transferred the Blender file to Zbrush with GoB and I have no problems. I couldn't reproduce the problem. The GoB add-on on your Blender may be corrupted. It is recommended to delete all GoB addons once, restart Blender, make sure the GoB addons are completely removed, and then install the latest GoB stable version and try it.
I'm pretty sure it's a pr

[2020-07-11 15:31] kromar commented on #127
@SbstnDC  please zip the addon folder and upload it here before you delete it. it might help me find the issue if this is really the problem

[2020-07-11 15:53] kromar commented on #127
some information to the transfer of multiple object from blender to zbrush:
I have spent a significant amount of time trying to understand and fix some issues when transfering multiple objects but there seem to be some limitation on zbrush side that i can not fix within the blender addon and i can not ensure consistency. it might be that you run into another limitation that zbrush presents here.

[2020-07-11 16:05] SbstnDC commented on #127
okay, here addon folder, thanks for the fast answer guys.

I try clear my enviroment, and make a clean install.

[GoB-GoZ-Blender_28_2.zip](https://github.com/JoseConseco/GoB/files/4907086/GoB-GoZ-Blender_28_2.zip)

[2020-07-13 17:02] SbstnDC commented on #127
hello again, guys, how i can recover my goz gob, the tool is broken and I have already tried cleaning and reinstalling. I can't match the origins. HELP!

![image](https://user-images.githubusercontent.com/22725270/87332092-59e2ce80-c53b-11ea-85be-8ce421266d94.png)

[2020-07-13 17:07] SbstnDC commented on #127
My Environment
GoB 3.3.12 (latest now, 2020-07-13)
Blender 2.90
Zbrush 2020.1.4
Windows 10 Pro Workstations

[2020-07-13 18:16] Tsukasa-YAMATO commented on #127
![2020-07-14_03h11_13](https://user-images.githubusercontent.com/65609416/87338345-fd55d280-c57f-11ea-97c1-31bb56b09af0.png)

1. Load Dog template with Zbrush
2. GoZ transport and check the difference between in coordinates on Blender and Zbrush

Where is the world origin for you? Is it correct that your Zbrush's origin is really the world origin? Doesn't it show that the blender's world origin is

[2020-07-13 18:53] SbstnDC commented on #127
When
when i install gob the process durations ON option always appears. and every time I uninstall I will see the path C: \ Users \ SbstnDC \ AppData \ Roaming \ Blender Foundation \ Blender \ 2.90 \ scripts \ addons

![image](https://user-images.githubusercontent.com/22725270/87342060-e0eb7300-c54a-11ea-9629-44ca67c7fefa.png)

and everything is clean

THanks!, with there example works
Where is th

[2020-07-19 12:57] kromar opened #129 "make fail safe subtool append method"

[2020-07-19 12:57] kromar opened #130 "add os specific GoZ project path"

[2020-07-19 12:57] kromar opened #131 "test if subtool can be appended to tool to check if its a valid polygon tool to work with. if it fails create a new tool and append subtools to this new one."

[2020-07-19 13:13] kromar opened #132 "pack zscript vars in same file"

[2020-07-19 14:59] kromar opened #133 "run all import after export has been finished and not one object after another"

[2020-07-19 21:37] kromar opened #134 "when PolyMesh3D tool is selected appending PolyMesh3D is not possible"

[2020-07-20 20:02] kromar opened #135 "bug in batch import, there seems to be some issue in the subtool import function that replaces the same subtool instead of adding a new one for each imported obejct"

[2020-07-21 15:01] kromar opened #136 "material export error"
Error: Traceback (most recent call last):
  File "C:\Repo\BlenderDevelopment\development\src_28\addons_contrib\GoB\GoB.py", line 1229, in execute
    self.exportGoZ(PATHGOZ, context.scene, obj, f'{PATHGOZ}/GoZProjects/Default')
  File "C:\Repo\BlenderDevelopment\development\src_28\addons_contrib\GoB\GoB.py", line 1122, in exportGoZ
    material = bpy.data.materials[mat.name]
KeyError: 'bpy_prop_co

[2020-07-21 16:05] kromar opened #137 "review new import"
the GoZ standard import is bypassed by a custom ZScript, this should fix all the mess the import created with tools an subtools and also brings texture import to the table.

The source and the complied script can be found int a new ZScript subfolder of the addon.

[2020-07-21 16:10] kromar commented on #137
@Tsukasa-YAMATO as the ticket describes i have written the bypass of the default GoZ scripts to fix the import issues with tools and subtools and extended it for texture transfer from blender to zbrush.

It would be great if you could test this first version and let me know if you encounter any problems.
If you have a MacOS, i was not able to test this since i do not have a system with that OS run

[2020-07-21 16:41] Tsukasa-YAMATO commented on #137
@kromar
thank you for your comment. But I'm not be able likely to help you. I was pursuing the purely modeling benefits of working with Zbrush and Blender.

The issues like "look" like texturing and rendering are for me the stages where Zbrush is no longer relevant. So I'm not interested in texture coordination between Zbrush and Blender. So don't expect a reply. Maybe I'm not able to test the bet

[2020-07-21 17:34] kromar commented on #137
alright i guess i find someone else then. take care

[2020-07-21 17:35] kromar opened #138 "error when star is selected and import is executed"

[2020-07-21 20:12] kromar opened #139 "refresh subtools before final report is showing"

[2020-07-21 20:13] kromar opened #140 "remove/replace first object when new tool is created"

[2020-07-21 20:24] kromar opened #141 "transfer textures for multiple objects always transfers the same texture"

[2020-07-21 21:35] kromar opened #142 "speed up import by bypassing iterating through all subtools to find existing"

[2020-07-22 15:18] kromar opened #143 "pass version number to script to avoid 2 versions"

[2020-07-23 03:15] 1608372122 opened #144 "Bl export to zb is normal, zb import bl does not respond"
Bl export to zb is normal, zb import bl does not respond

[2020-07-23 06:42] kromar commented on #144
Please provide some more information, this is not enough to do anything.
What version are you using?
Are there any errors in the console ?
What are your configurations?
You have the import enabled?
Some screenshots or example files?

[2020-07-23 08:25] 1608372122 commented on #144
Thanks Reply

I don't know if the operation is correct，No response when clicking import

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "JoseConseco/GoB"                                                                                    <notifications@github.com&gt;;
发送

[2020-07-23 16:51] kromar commented on #144
can you tell me the following,

1. did you copy the Blender folder which is inside the addon to the Public>GoZApps folder?
![image](https://user-images.githubusercontent.com/1472884/88314283-f748ba00-cd14-11ea-9c7d-56e691e7d327.png)

2. what version of blender are you using?
![image](https://user-images.githubusercontent.com/1472884/88314352-121b2e80-cd15-11ea-9e74-113bd52c7b0f.png)

3. what versi

[2020-07-24 19:40] kromar opened #145 "transfer blender collections to zbrush folders"

[2020-07-25 18:29] #77 closed

[2020-07-25 18:29] #70 closed

[2020-07-28 12:06] kromar opened #147 "dont export meshes without faces to avoid import error in zbrush"

[2020-07-28 21:16] kromar opened #148 "FAQ"
1.(OSError: application not found: ....path\GoB_Import.zsc)
- default program for opening .zsc is not set to zbrush
- set default open with
- fix it in the registry:  HKEY_CLASSES_ROOT\zbrush.script.1\shell\Open\command

2....

[2020-07-29 22:04] kromar opened #149 "support for UDIM workflow"

[2020-07-29 22:09] kromar opened #150 "prevent export of line or vertex meshes from blender since zbrush can not load them"

[2020-07-29 22:12] kromar opened #151 "what to do when exporting and reimporting objects with modifiers?"

[2020-08-10 08:36] EugeneMitchell opened #152 "Not working in 2.83.4 environment path language issue"
Thats it, no errors, just pressing buttons affects nothing

[2020-08-13 20:47] kromar opened #153 "specify executable for zscript files to avoid issues when updating zbrush."

[2020-08-14 00:40] SbstnDC opened #154 "error with object with missing material or empty material"
![image](https://user-images.githubusercontent.com/22725270/90200132-07652e00-ddd7-11ea-9f42-9adb8a30ec65.png)
when you export an item with missing material from other user, or when you not have a material.
, and you want send to zbrush from blender.

[2020-08-14 09:36] kromar commented on #154
@SbstnDC  thanks for reporting the issue, this should already be fixed (https://github.com/JoseConseco/GoB/issues/136)  however is not yet in a release.
You can either wait for the next release or try the latest version i am working on (you might get other errors due to a lot of changes)
https://github.com/kromar/blender_GoB/tree/feature/change-execution

[2020-08-14 09:53] SbstnDC commented on #154
i see, thanks mate!

[2020-08-22 09:45] spiraloid opened #156 "blender 2.90 has some error spew."
Traceback (most recent call last):
  File "C:\Users\bay\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\GoB-GoZ-Blender_28\GoB.py", line 817, in poll
    numFaces = len(context.selected_objects[0].data.polygons)
IndexError: list index out of range

here's the fix

![image](https://user-images.githubusercontent.com/36362743/90953824-b8954500-e423-11ea-8cdb-71e23d0ff164.png)

`
    @c

[2020-08-23 11:02] kromar opened #157 "test on MacOS"
organize a mac to test the setup and execution changes

[2020-08-24 10:58] kelheor opened #159 "Permission denied error on export"
When I'm trying to export model from Blender to ZBrush, I'm getting this error:

Traceback (most recent call last):
  File "C:\Users\kelheor\AppData\Roaming\Blender Foundation\Blender\2.83\scripts\addons\GoB\GoB.py", line 1301, in execute
    Popen([PATH_ZBRUSH, PATH_SCRIPT])
  File "C:\Program Files\Blender Foundation\blender-2.8\2.83\python\lib\subprocess.py", line 775, in __init__
    restore_s

[2020-08-24 18:53] kromar commented on #159
@kelheor thanks for reporting the issue, can you tell me what version you are using?

[2020-08-24 19:49] kromar commented on #159
also you can try to uninstall python if you have it installed and install the latest version, apparently there have been some permission issues with earlier versions that could cause this: https://www.python.org/downloads/

[2020-08-25 07:01] kelheor commented on #159
GoB_Import.zsc works fine. Moreover, import from ZBrush to Blender also works fine. But export from Blender to Zbrush gives such error.

Blender version: 2.83.5
Python version: 3.7.8
I'm using Python from Anaconda and can't change it, since other apps from conda repo relaying on this version.

Actually, old versions of GoB worked fine, but when ZBrush 2021 was released, I downloaded the latest ver

[2020-08-25 08:13] kromar commented on #159
have you tried with the standard python?
there have been changes in the last version of the addon to bypass zbrushes import to fix some issues and the execution there fore changed. that is where you for some reason get your errors when the .ZSC should be run with zbrsuh.

[2020-08-25 08:57] kelheor commented on #159
I tried to install Python 3.8.5 right now - same issue. I think the problem is that Blender using its own python with 3.7.4 version (I checked path from logs: C:\Program Files\Blender Foundation\blender-2.8\2.83\python).

[2020-08-25 19:50] kromar commented on #159
@kelheor thanks for testing with the latest python version. at this point im a bit out of ideas what could be the problem, the Popen command is creating a subprocess to start the script with zbrush and that is done via a windows command. So somewhere in that chain must be a permission problem.
You have given blender admin permission as far as i understood and that did not help so i think its safe

[2020-08-26 04:03] kelheor commented on #159
I'm using an Administrator account. No antivirus.
Today I tried to use GoB addon on my other PC, where it was worked with ZBrush 2021 after I updated GoB and suddenly I got the same error, which is really frustrated since I thought it might be PC-related issue. Currently have no ideas too about how to fix that.

[2020-08-26 06:10] mac4kent opened #160 "Blender 2.91 Alpha with GoB (MacOS)"
Blender 2.91 Alpha with GoB
https://builder.blender.org/download/
Need fix GoB Syntax error I show you picture
<img width="1500" alt="Screen Shot 2020-08-25 at 11 05 54 PM" src="https://user-images.githubusercontent.com/4253305/91267367-14174980-e728-11ea-9e06-a610fc25ef7d.png">

[2020-08-26 14:44] kromar commented on #160
thanks for the report, can you tell me which version of the addon caused this error?

[2020-08-26 21:08] mac4kent commented on #160
I give you link exactly you need get download ox 2.91 alpha

[2020-08-26 23:44] kromar commented on #160
You did not write the version of the GoB addon.

[2020-08-26 23:48] mac4kent commented on #160
Ok GOB version:
![image](https://user-images.githubusercontent.com/4253305/91367675-f3003880-e7bb-11ea-8123-aa0910a0f406.png)

[2020-08-28 01:12] mac4kent commented on #160
Did you get it I show you GOB version?

[2020-08-28 01:32] GiuseppeBufalo commented on #157
I got this error when I try to export to zbrush

<img width="623" alt="Screenshot 2020-08-28 at 11 31 37" src="https://user-images.githubusercontent.com/28225091/91511066-1f35c980-e922-11ea-95fa-a72bd0682b9e.png">

[2020-08-28 01:54] GiuseppeBufalo commented on #157
the problem it's with the latest version 3.4.5. it works with the 3.0.6

[2020-08-28 17:28] kromar commented on #157
@GiuseppeBufalo  can you try the latest master? i changed it in one of the latest omits and it would be great to see if that works on a mac since i do not have a system to test on that OS.
https://codeload.github.com/kromar/blender_GoB/zip/GoZ-Blender_28
 https://github.com/kromar/blender_GoB/archive/GoZ-Blender_28.zip

[2020-08-29 01:30] GiuseppeBufalo commented on #157
I tried to install it but i couldn't activate the addon
<img width="755" alt="Screenshot 2020-08-29 at 11 27 52" src="https://user-images.githubusercontent.com/28225091/91625462-f4fc0e80-e9ea-11ea-9b00-f7b6bced525f.png">

[2020-08-29 01:37] GiuseppeBufalo commented on #157
I'm using the 3.3.8 and it works well.

[2020-08-29 08:18] kelheor commented on #159
Well, today it seems I found how to fix that issue (not sure 100% and might be a coincidence).
One of my other plugins in Blender also stopped working for no reason and I decided just to disable it in addons list and enable it again. And it started to work again. Then I recalled about GoB and disabled and enabled it again - and error is gone.

[2020-08-29 08:18] #159 closed

[2020-08-29 10:38] kromar commented on #159
im happy to hear that you have been able to fix the issue and for letting me know that a possible solution.

[2020-08-29 10:49] kromar commented on #157
thanks for testing, yes there has been a big rewrite and changes on the installation of the addon so i currently expect some errors on MacOS since i have not been able to test it.

[2020-08-31 23:46] Msuzuki003 opened #161 "Import failure to blender"
When I try to import the model that was reduced with the decimation master with zbrush with GoB of Blender, it always shuts down. I'm having trouble importing.

ZBrush2021.1.1
Blender2.83
GoB 3.4.8

[2020-09-01 17:34] kelheor commented on #159
Some additional info: after I updated to 2.90 release, I got this error again. And when I re-enabled the addon without restarting Blender, I was asked to select Zbrush.exe file, but in Zbrush directory, I wasn't able to find any .exe files from Blender's file selector dialog - only directories - even if they were at place. After restart Blender, I finally was able to select Zbrush.exe. It seems th

[2020-09-01 17:49] 19930227 opened #162 "import error on MacOS"
Hello, I don't know this is an error or my mistake but I have a trouble now.
I tried to import the add-on and when I click the check box this pop up appeared.
https://d.kuku.lu/8b1d37d76e
Could you tell me how can I deal with this?
I'm using Blender 2.83.5 and Zbrush 2021.

Thank you!

[2020-09-01 18:18] kromar commented on #161
can you share that decimated model or one that causes the crash? that would really help to find out whats happeing.

[2020-09-01 18:25] kromar commented on #160
ah yes thanks, i got another report regarding the same issue. since i do not have a MacOS its hard to fix it but i should get a system this week so i can hopefully reproduce this issue.

[2020-09-01 18:28] kromar commented on #162
thanks for reporting this issue, this seems to be a MacOS related issue, since i do not have a system with that OS i cant really reproduce it but i should get a system this week and hope i can fix it.
Please use the latest release until this issue is resolved.
https://github.com/JoseConseco/GoB/releases

[2020-09-01 18:29] kromar commented on #160
please use the latest release until i am able to fix this
https://github.com/JoseConseco/GoB/releases

[2020-09-01 18:38] kromar commented on #159
sounds like the 2.83 config was not transfered to 2.9 so that would explain why it asks you again for the zbrush location.
The error however is a bit strange and i would like to be able to reproduce it.

Did you first send a object from blender to zbrush after enabling the addon? Or did you try to directly send a object from zbrush to blender after enabling it?
When enabling it you should send one

[2020-09-01 18:47] kromar commented on #162
i reversed the check on what os is running maybe you can give it a try and see if you get further.
https://github.com/kromar/blender_GoB/tree/bugfix/filter-for-zbrush-executable

however i expect there to be more issues since this version is untested on macos.

[2020-09-01 18:52] kromar commented on #160
i tried to fix this issue, would be great if you could see if this takes you a step further. expect more issues since macosx in this version is untested but would be great to work them out.

v3, 4, 82
https://github.com/kromar/blender_GoB/tree/bugfix/filter-for-zbrush-executable

[2020-09-01 18:55] kelheor commented on #159
Well, I always rename the config directory manually in AppData\Roaming\Blender Foundation\Blender after migrating to a new version, so all settings should be transferred to the new version.

Actually, your addon asked for ZBrush location automatically, when I disabled it and then re-enabled after permission error (in the moment when I checked the checkbox). What is also strange, that if I disable

[2020-09-01 19:10] kromar commented on #159
when you open a new blender version for the first time there should be a option on the splash screen that asks you if you want to transfer your previous settings so you would not need to do that manually.
![image](https://user-images.githubusercontent.com/1472884/91895420-82fc2180-ec97-11ea-98b5-ba9f444fc002.png)

yeah that is a bit strange i will see what could happen there.
It should only ask fo

[2020-09-01 19:18] kromar commented on #159
aha i can reproduce the issue when i specify the folder and not the executable as zbrush path.

![image](https://user-images.githubusercontent.com/1472884/91895862-32d18f00-ec98-11ea-8b38-af59c3323f74.png)

![image](https://user-images.githubusercontent.com/1472884/91896038-85ab4680-ec98-11ea-85d5-c2d602684bea.png)

i assume this is what happend to you so i will see if i can somehow find a solutio

[2020-09-01 19:29] kelheor commented on #159
I see. So the problem is that for some reason addon removed "ZBrush.exe" part from the path.
Maybe you can automatically add ZBrush.exe to the path if it's missing at the end of the path? I have big doubts that somebody will rename this exe and if there wasn't such a file at the location, at least the user will get an error about a missing file and not about permission error.

[2020-09-01 19:50] mac4kent commented on #160
I just click [√] appear it work for sure on Blender 2.91 Alpha congratulation.
I am use MacOS 11 Big Sur.

I let you know Blender are work on code to fix for object cube preview find for mac to appear texture. I figure so hard since few years until I found then I send report ticket to Blender. They don’t understand and I told them over again, over again until other person work on Blender and they

[2020-09-01 20:20] kromar commented on #159
yes that is exactly what i want to try. i also want to avoid that a user is able to put in just the path in the first place, that is also possible when the exe is not selected and will result in the error.
Maybe its related to what we encountered that sometimes the filter shows the executable and sometime it doesnt, and that is removing the executable from the path as well for some reason.

Hehe y

[2020-09-02 00:49] Msuzuki003 commented on #161
[SampleScene.zip](https://github.com/JoseConseco/GoB/files/5159427/SampleScene.zip)
Thank you for your reply. Upload the scene data that can be loaded with Load Tool from ZBrush Tool.

[2020-09-02 19:16] kromar commented on #161
thanks for sharing the file, it also crashes for me so i might figure out whats going wrong

[2020-09-02 19:40] kromar commented on #161
![image](https://user-images.githubusercontent.com/1472884/92028645-ac36b380-ed64-11ea-92ad-ba4b957e12c4.png)

![image](https://user-images.githubusercontent.com/1472884/92028590-945f2f80-ed64-11ea-9e2e-3c5778e98a3b.png)
that mesh has detached edges youc an check it in the mesh integrity and you can also fix it there and you should be able to transfer it. i will see if ican fix this on the import

[2020-09-03 00:45] Msuzuki003 commented on #161
Thank you. The problem is resolved.
I didn't know about the check function on ZBrush side, so thank you for letting me know.

[2020-09-03 05:49] spiraloid commented on #156
I'll recheck.   it happened on a fresh install from a nightly build on the date I submitted.  I'll reinstall and see if it happens again.

[2020-09-05 13:32] kromar commented on #160
@mac4kent have you been able to send objects over to zbrush with this version? tha would be great news since it would mean that the changes i did are working!

yeah it can take a while to get some things fixed on blender, but i can understand that with all the requests they get from the community and all the things they want to get done. And they do a really great job improving it on so many areas

[2020-09-05 13:35] mac4kent commented on #160
Yes I haven’t take test zBrush 2021 and Blender 2.91 yet but 2.91 it work while check box turn on with Add-ons it work on Blender 2.91 Alpha

Wait until they fix .obj before update GoB because there mistake syntax code of .MIT on .obj. I have Macintosh Finder already have preview I can tell.

[2020-09-05 13:44] kromar commented on #160
i do not use the .obj format for transferring objects i use the pixologic .goz format so i dont think i need to update anything for that fix.

[2020-09-05 14:00] mac4kent commented on #160
Oh really

[2020-09-05 20:01] kromar opened #163 "option to switch between tool and subtool import"
https://blenderartists.org/t/goz-for-blender-2-8/1138418/395
the new import method only supports subtool import, extend the script so the zbrush configuration is used as import method if possible.

A(a0,a1,a2) B(b0,b1,b2)
A/B- mesh group(tool), a/b(n) -meshes(subtools)
So if i have open B in zbrush, and then send A from blender, i’ll expect A as new tool, rather than append a(n) to B.
But if i sen

[2020-09-05 23:07] kromar commented on #161
this should be fixed in the latest master now, was not easy to find but easy to fix. thanks for reporting the issue!

[2020-09-14 17:16] SockGardener opened #166 "Unable to export Blender > ZBrush"
I'm using Blender 2.9 (and 2.91) & ZBrush 2021.1.1 – both on macOS X (Mojave)
Transfer from ZBrush to Blender works really well, however, when exporting from Blender to ZBrush a second instance of ZBrush is launched which promptly crashes with the following error message:

![image](https://user-images.githubusercontent.com/54185922/93116921-e33a8c80-f6b5-11ea-8d1d-a5be6756d8a5.png)

It's certainly

[2020-09-14 17:43] kromar commented on #166
thanks for reporting the issue, there is another report where i asked for more information how to fix the issue
https://www.zbrushcentral.com/t/gob-an-unofficial-goz-for-blender/205495/436
would be great if you could help providing information so i can get this issue fixed. Since i do not have a system with OSX available i can not test this myself.

[2020-09-19 13:46] difanxu commented on #166
Hi! i encountered the same problem on MacOS, import from zbrush is totally ok but cannot export from blender to zbrush. My Zbrush configure is set identical as SockGardener. Seems like its where zbrush.app is located bc zbrush booted when i hit export but it gave me the same error warning

[2020-09-20 14:10] kromar opened #167 "add multi material support"

[2020-09-20 14:11] kromar opened #168 "export lowpoly and high poly version from zbrush (subdiv levels)"

[2020-09-20 14:11] kromar opened #169 "merge objects and transfer as one object"

[2020-09-21 04:25] Igrom4ik opened #170 "Addon for blender 2.90 and zbrush 2021 does not work."
There are no reactions - no errors and no export of the model to zbrush.

[2020-09-21 18:14] kvmorgan commented on #170
I can confirm. I'm on OSX Catalina. I did a little digging, and it seems the .goz file is created, but zbrush never loads it. Also, if I run it and zbrush is already open, a second instance of zbrush is spawned.

[2020-09-21 19:42] kromar commented on #170
i should get a mac this week so i should be able to  fix this soon. until then you could try to work with the latest release that should still work

[2020-09-22 07:31] LLKoder opened #171 "List index out of range"
Hello,

When I save blend file I get some error:

If it helps I have one curve only in the scene.

Blender: 2.90
GoB:  3.4.8

[2020-09-23 19:40] imtomgamedev opened #172 "GOB export from Blender issue"
This is likely not a bug, just maybe setup error on my part.  I've successfully sent a subtool from Zbrush to blender.  When trying to export from Blender to Zbrush, it simply opens the "Blender File View" dialog box and nothing happens.  Any ideas?  BTW, I'm running on Mac.

<img width="993" alt="image" src="https://user-images.githubusercontent.com/28981927/94061075-e10db780-fdb2-11ea-972e-f1cb6

[2020-09-23 19:59] tomimgamedev commented on #172
I did discover that changes I make to Blender meshes are saved to the GozProjects/Default folder.  It's just that there's a disconnect when exporting from Blender to Zbrush.  The updates are not being loaded into Zbrush and within Blender, the Blender File View dialog appears as mentioned in my original post.

[2020-09-24 07:44] kromar commented on #172
hi @imtomgamedev it is a issue with the addon and mac, i got a mac 2 days ago and started looking into this so i will hopefully be able to fix this issue.

[2020-09-24 12:45] imtomgamedev commented on #172
Awesome!  I'll watch for news.  Thanks, Kromar

[2020-09-24 19:38] kromar commented on #171
interesting i will see if i can reproduce that

[2020-09-26 02:31] LLKoder commented on #171
I have this bug everytime when I do any action (for ex. Copy/Paste or Save file, etc) although the Import button is off. I'm forced to turn off add-on every now and then.

[2020-09-26 15:16] kromar commented on #166
please give this new version a try and let me know if you got any issues

v3.4.9
https://github.com/kromar/blender_GoB/tree/bugfix/fixmacos

[2020-09-26 15:16] kromar commented on #172
please give this new version a try and let me know if you got any issues

v3.4.9
https://github.com/kromar/blender_GoB/tree/bugfix/fixmacos

[2020-09-26 15:16] kromar commented on #170
please give this new version a try and let me know if you got any issues

v3.4.9
https://github.com/kromar/blender_GoB/tree/bugfix/fixmacos

[2020-09-26 16:04] kvmorgan commented on #170
Excellent! I can round trip between blender and zbrush. And I don't get a second zbrush process launched. Along with my mesh, I'm getting a cube in the subtools going from blender to zbrush. Not a big deal, but it's there.

Thank you for your work on this!

[2020-09-26 20:34] imtomgamedev commented on #172
I only quickly gave it a try.  Removed the prior addon and installed the updated one.  Here's my settings, maybe somethings not set correctly.
<img width="1199" alt="image" src="https://user-images.githubusercontent.com/28981927/94349784-f1719c80-0015-11eb-850d-4dd3a59370b7.png">
Same issue as before, see capture:
<img width="1142" alt="image" src="https://user-images.githubusercontent.com/2898192

[2020-09-27 09:03] kromar commented on #172
your input path is not correct it should include the ZBrush.app
try this:
/Volumes/EXT-APPS/Applications/ZBrush 2021.1.1/ZBrush.app

[2020-09-27 09:31] imtomgamedev commented on #172
That seems to have possibly fixed the import issue, though, the captures below don't quite match what I was seeing in the YT video.  Rather than automatically placing the Blender object onto Zbrush's canvas as seen in the YT video, the exported object appears only when I click and drag onto the canvas.  Also, appears to include an additional subtool "Cube3D_1" that was not a part of my Blender obj

[2020-09-27 13:22] kromar commented on #172
This is currently how it works. When you send over more objects they should be added as subtools. And the initial cube is a known issue but with low priority ti fix.

[2020-09-27 17:29] imtomgamedev commented on #172
Glad to know it’s working now, thank you for help!  I’ll try and watch for updates to this add on, really like it.

[2020-09-27 17:29] #172 closed

[2020-09-27 19:37] kromar commented on #160
@mac4kent
please give this new version a try and let me know if you got any issues

v3.4.9
https://github.com/kromar/blender_GoB/tree/bugfix/fixmacos

[2020-09-27 20:24] mac4kent commented on #160
Sure

[2020-09-27 20:49] mac4kent commented on #160
You forget to put about Mac direct
I can’t find Mac direct on Blender folder.

[2020-09-27 21:21] kromar commented on #171
@LLKoder i am not able to reproduce this issue, can you share a blend file where this hppens?

[2020-09-27 21:25] kromar commented on #160
what do you mean with Mac direct?

[2020-09-27 22:25] mac4kent commented on #160
Example: ~/Library/Application Support/Blender/2.9 this folder also zBrush where folder too

[2020-09-28 02:28] LLKoder commented on #171
I have rolled back to Bender 2.83.6, there is the same problem. Before 2.90 I used 2.81 was ok.

Sure, I share blend file. It consists of blend file and screenshot. The action what I do at the screenshot - Save File.
[Blend file](https://drive.google.com/file/d/1cGGCHtrrv4oB81vlUkULQocF38WmBKph/view?usp=sharing)

[2020-09-28 13:16] difanxu commented on #166
Thank you so much for the update! it works well for me!

[2020-09-28 14:17] BossTony opened #173 "Im having issues exporting"
I believe I installed everything correctly but when I try to export I get this error every time

https://gyazo.com/29b54c8c010e03c0795d55febe5e2c5f

but when I check the folders I can see the files being created in C:\Users\Public\Pixologic\GoZProjects\Default
but its just opening over  to ZBrush for some reason

[2020-09-28 16:22] mac4kent commented on #160
Did you understand about Mac direct folder?

[2020-09-28 18:10] kromar commented on #160
are you referring to the fact that other apps on mac are one file and not like zbrush a folder?

![Screenshot 2020-09-28 at 20 06 09](https://user-images.githubusercontent.com/1472884/94469496-80bdb200-01c6-11eb-9225-b7b656b059f5.png)

[2020-09-28 18:37] mac4kent commented on #160
I mean Blender folder I don’t know where to put Preferences > Blender GoB buttonm

[2020-09-28 18:41] kromar commented on #160
sorry i do not understand, can you maybe try to show it in a screenshot?

[2020-09-28 21:06] mac4kent commented on #160
Did you see screenshot on Blender folder?

[2020-09-29 06:56] kromar commented on #160
yes i see that screenshot, but cant see anything out of the ordinary

[2020-09-29 16:34] mac4kent commented on #160
I see Windows have direct and miss about Macintosh too. I don’t know where to put Blender folder into zBrush 2021 some where for Goz/Gob

[2020-10-02 20:49] kromar commented on #171
hmm maybe, i do not get the error when saving that blend file and i do not see why that error would happen. make sure if you install the latest version again to delete the folder of the old addon.

[2020-10-02 20:56] kromar commented on #160
im still not sure i understand.
With the new version you do not need to put any Blender folder into zbrush. That is done by the GoB addon when you export from blender for the first time which is now the first thing you should do after installing it to get things ready.
Here you can find the installation instructions for the new version:  https://github.com/JoseConseco/GoB/wiki/Installation

[2020-10-02 20:59] kromar opened #176 "draw imported tool and enter edit mode"

[2020-10-02 21:00] kromar opened #177 "delete first subtool after importing into zbrush and new tool is needed"

[2020-10-02 21:02] kromar opened #178 "expose max amount of subtools to import in zbrush or implement adaptive option to speed up the import"

[2020-10-02 21:57] kromar opened #179 "show executable selection before exporting"

[2020-10-03 05:21] mac4kent commented on #160
I see 3.3.8 GoB I follow your direct click download.
Also I confused where click download too.
https://youtu.be/qAsagcLibY0

[2020-10-03 07:47] kromar commented on #160
aha, you mean the direct link on the release page for the latest version? since it has such a big update i wanted to get it working on MacOS before i create a release, now that it seems to be working i can create one.

[2020-10-03 17:32] mac4kent commented on #160
Alright may I have link to get download right one.
Yes direct link on the release page for Mac.

[2020-10-03 21:48] kromar commented on #160
here is the direct link for the latest version: v3.4.9
https://github.com/JoseConseco/GoB/archive/GoZ-Blender_28.zip

[2020-10-04 00:10] mac4kent commented on #160
https://youtu.be/qAsagcLibY0 <https://youtu.be/qAsagcLibY0> (3.3.8) Auto open zBrush after click export
https://youtu.be/GFpW6iFnhDg <https://youtu.be/GFpW6iFnhDg> (3.4.9) error export click.

[2020-10-04 09:24] kromar commented on #160
Hi,
this is not a error, this window will show when the path to the ZBrush.app is not defined
![image](https://user-images.githubusercontent.com/1472884/95011826-d74a4680-0633-11eb-808f-3861452219db.png)
Select the ZBrush.app in that window.

It seems that this causes some confusion since there is no explanation when this window pops up and it can be seen as export folder instead of the selection

[2020-10-04 16:57] mac4kent commented on #160
Oh well you are use Windows. Mac and Windows is different.
You have to inspect on Mac please. Do not use Windows.
There still error on latest version.
3.3.8 already auto search and found zBrush itself without I do manual search direct.
See YouTube same thing you see. Please don’t use Windows.
https://youtu.be/7PdgTQMjYFQ

[2020-10-04 19:55] kromar commented on #160
i tested it on a mac. press accept once you are inside that ZBrush.app folder., that should work.
i think its a limitation of blender that it shows .app files as folders, i will open a bug report for that

[2020-10-04 20:13] mac4kent commented on #160
Yes correct. That start come from year 2000 MacOS 10.0.0 the biggest change from Year 1983 to 2001 System 1.0.0 to MacOS 9.2.2

They start folder then put extension .app (add) become to be application.
Right click appear and “Open Package Contests”.
Also you can remove .app make become to be folder.
https://youtu.be/3ra7NaWgMwQ <https://youtu.be/3ra7NaWgMwQ>
https://youtu.be/5zBco_4IUSY <https://y

[2020-10-04 20:25] kromar commented on #160
im not sure i can get the auto search back due to the changes needed to fix the import problems of the official pixologic import. i will see if its somehow possible.

[2020-10-04 20:33] kromar opened #180 "shoe .app as appications and not as documents https://youtu.be/5zBco_4IUSY"

[2020-10-04 20:33] mac4kent commented on #160
Sure.

[2020-10-05 09:17] LLKoder commented on #171
I have updated the add-on. The bug is fixed. Perhaps, this bug was on my side only, idk. Any case, thanks for the help.

[2020-10-05 09:17] #171 closed

[2020-10-07 04:56] LOLDesu opened #181 "Blender 2.9 and Zbrush 2021 Error"
Traceback (most recent call last):
  File "C:\Users\steph\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\GoB-GoZ-Blender_28\GoB.py", line 1310, in execute
    Popen([PATH_ZBRUSH, PATH_SCRIPT])
  File "C:\Program Files (x86)\Steam\steamapps\common\Blender\2.90\python\lib\subprocess.py", line 800, in __init__
    restore_signals, start_new_session)
  File "C:\Program Files (x86)\Stea

[2020-10-08 12:14] XhnPLayer opened #182 "Can I add the Crease export function in GOB."
Just some suggestions.

[2020-10-08 17:17] kromar commented on #182
Thanks for the feedback, i already have this idea on the list and had a glimpse at it. I think without using a different file format than goz this will not be possible. So chance are low that this will happen any time soon but i will look at it again after some other topica.

[2020-10-09 10:50] kromar commented on #160
there is a fix on its way for the .app issues:D tahnks for pointing it out
https://developer.blender.org/D9162

[2020-10-09 16:04] mac4kent commented on #160
Oh ok thank you for let me know.

[2020-10-19 21:01] Aurontwist opened #183 "Can't export mesh to Zbruhs from blender"
Traceback (most recent call last):
  File "C:\Users\zsolt\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\GoB-master\GoB.py", line 1296, in execute
    self.exportGoZ(PATH_GOZ, context.scene, obj, f'{PATH_PROJECT}')
  File "C:\Users\zsolt\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\GoB-master\GoB.py", line 1079, in exportGoZ
    goz_file.write(pack('<H', groupColo

[2020-10-20 18:38] kromar commented on #183
thanks for reporting the error, can you tell me what version you are using?

[2020-10-20 20:51] kromar commented on #173
the problem with this error is that the zbrush.exe/app input is wrong.  I got a few reports where the executable was missing from the path so make sure its the correct path.
![image](https://user-images.githubusercontent.com/1472884/96642630-b3bb1780-1326-11eb-9f6c-8c36cdb87d1b.png)

also make sure you are using the latest version since there have been a couple of fixes to avoid the error.
https:/

[2020-10-20 20:52] kromar commented on #181
@LOLDesu  please check this post since its about the same problem thanks. https://github.com/JoseConseco/GoB/issues/173

[2020-10-20 20:54] kromar commented on #180
closing this since the fix will be coming from blender

[2020-10-20 20:54] #180 closed

[2020-10-20 21:31] kromar opened #184 "look into transformation offset and mirroring issue"
v3.4.8 problem with object origin and location after exporting from zbrush trough obj
![image](https://user-images.githubusercontent.com/1472884/96646425-6e014d80-132c-11eb-9591-42449118b113.png)

So prev versions all works really great.
**working expamle:**
1. in blender - make a base like LowPoly
2. GOZ
3. HighPoly in zbrush
4. Export from zbrush(NOT GOZ)
5. Import to blender, all HP meshes are

[2020-10-20 21:45] #168 closed

[2020-10-20 21:46] kromar commented on #56
closing this as dupplicate, please follow the progress over here: https://github.com/JoseConseco/GoB/issues/34

[2020-10-20 21:46] #56 closed

[2020-10-20 21:53] kromar commented on #34
idea to transfer highres mesh from multires modifier resolutions:
1. low level will be exported from blender as mesh_low
2. high subdivision will be exported  from blender as mesh_high
3. import in zbrush as individual meshes?
      -try to add high res to subdivision level (problem this can not be exported by default GoZ and most likely would need custom exporter. if this is needed consider using

[2020-10-20 22:38] Aurontwist commented on #183
Operating system: Windows-10-10.0.18362-SP0 64 Bits
Graphics card: GeForce RTX 2080/PCIe/SSE2 NVIDIA Corporation 4.5.0 NVIDIA 452.06
Blender version: 2.90.1, branch: master, commit date: 2020-09-23 06:43, hash: `rB3e85bb34d0d7`

[2020-10-22 05:52] mac4kent opened #185 "path to blender is missing from zbrush>GoZ menu"
I am still not finish talk with you.
Windows already have direct C:/>
Need to add note on Volumes / ...
Because of ZBrush 2021 not have Blender GoB on Preferences.

[2020-10-22 05:55] mac4kent commented on #185
![image](https://user-images.githubusercontent.com/4253305/96830540-6e631c80-13f0-11eb-8cfa-c1cab5984696.png)

[2020-10-26 06:46] justcloud0607 opened #186 "Can't export mesh to zbrush"
Traceback (most recent call last):
  File "C:\Users\Hyperbot\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\GoB-master\GoB.py", line 1256, in execute
    shutil.copytree(source_GoZ_Info, target_GoZ_Info, symlinks=True)
  File "C:\Program Files\Blender Foundation\Blender 2.90\2.90\python\lib\shutil.py", line 324, in copytree
    os.makedirs(dst)
  File "C:\Program Files\Blender Foun

[2020-11-01 19:47] Aurontwist opened #187 "Missing import settings in blender: "smooth or flat" shade for imported tool."
Missing import settings in blender: "smooth or flat" shade for imported tool.

[2020-11-02 21:14] kromar commented on #187
hi, i removed this forced way in favor of the smoothing you specify in blender. so once your mesh is in blender you should be able to apply the smoothing you want and if the mesh is updated from zbrush it should keep the smoothing if thats possible.

[2020-11-02 21:19] kromar commented on #186
can you try to run the GoZ repair in the zbrush and see if that fixes the problem? seems like some of the GoZ folders are not around
![image](https://user-images.githubusercontent.com/1472884/97920263-7bb9c880-1d59-11eb-947c-462ae313dd82.png)

[2020-11-02 21:21] kromar commented on #185
ah yes i noticed this some time ago but forgot to look into this. thanks for reporting.

[2020-11-02 21:22] kromar opened #188 "blender path not showing up in zbrush"
there seems to be something missing when deploying gob that the blender path is not configured in zbrush, it should be possible to do that since its stored in zbrush config files.

![image](https://user-images.githubusercontent.com/1472884/97920549-e5d26d80-1d59-11eb-8af7-400f907aace4.png)

[2020-11-02 23:31] mac4kent commented on #185
Goooooooooood

[2020-11-03 00:50] mac4kent commented on #185
When will you make update let us know and I will get download again.

[2020-11-10 11:05] phillipjpark opened #189 "Errors when Exporting"
Hello! I installed GoB and set the paths correctly to Blender but I keep getting this error. I installed a clean version of Gob and uninstalled and deleted old versions. Did I miss something?

<img width="540" alt="Screenshot_4" src="https://user-images.githubusercontent.com/52205460/98666100-d3a19200-234c-11eb-8cb3-363c9205f6cb.png">

[2020-11-10 11:34] kromar commented on #189
please show the paths that are set in the addon preferences. Looks like some paths are not correct

[2020-11-10 15:50] kromar commented on #189
please try to run the GoZ installer from zbrush and see if that solves the problem

![Screen Shot 11-02-20 at 10 19 PM](https://user-images.githubusercontent.com/1472884/98697035-bed8f480-2374-11eb-8134-f6d82455db1a.PNG)

[2020-11-13 11:17] phillipjpark commented on #189
Thank you for the response!
<img width="510" alt="Screenshot_1" src="https://user-images.githubusercontent.com/52205460/99066964-275ce700-25aa-11eb-8ec9-6c0bf9a98d58.png">
<img width="394" alt="Screenshot_2" src="https://user-images.githubusercontent.com/52205460/99066980-2b890480-25aa-11eb-8558-16ff9bcca192.png">
<img width="887" alt="Screenshot_3" src="https://user-images.githubusercontent.com/5

[2020-11-14 10:34] kromar commented on #189
![image](https://user-images.githubusercontent.com/1472884/99145215-335dad00-266d-11eb-882e-c27556c0748f.png)
can you set these paths to something valid and try again?

[2020-11-14 11:47] phillipjpark commented on #189
Ah that solves it! I believe it was a combination of the installer and setting the zbrush project path (which i did b4 but not the gozinstaller). Thank you!!!

[2020-11-14 11:47] #189 closed

[2020-11-15 06:30] Tsukasa-YAMATO opened #190 "Zbrush polygroups are not imported properly into Blender's Face Maps (Exporting to Zbrush results in a white Polygroup)"
Hi Mr. Kromar,
I'm Tsukasa YAMATO. Long time no see. I came back!

As the title suggests, Zbrush's polygroup information doesn't seem to be correctly reflected in Blender's Face Maps. Please see the attached image. Try it out with the Zbrush template Soldier.

![2020-11-15_15h04_50](https://user-images.githubusercontent.com/65609416/99178392-ffaa8200-2755-11eb-98dd-e148af11ad20.png)

![2020-11-15_

[2020-11-17 19:43] kromar commented on #190
Hi Mr. Tsukasa YAMATO,
thanks for the report, indeed this is a bad bug! I will try to reproduce it and see how it can be fixed.

[2020-11-17 20:08] kromar commented on #190
would be great if you can verify that this fixes the issue.

**v 3.4.10**
https://github.com/kromar/blender_GoB/tree/bugfix/fix-facemaps-import

[2020-11-17 20:36] 3dtoons commented on #190
Not sure if you know this but, the latest version of ZBrush2021.2.1 broke
the polypaint transfer to Blender.
-ShaneO

On Tue, Nov 17, 2020 at 1:08 PM kromar <notifications@github.com> wrote:

--
Warm regards,
-ShaneO

[2020-11-18 02:59] Tsukasa-YAMATO commented on #190
@kromar Thank you for your quick response.
I tested Ver.3.4.10 and the correspondence between Polygroups and Face Maps seem to have recovered successfully!
Thank you!!!

---

@3dtoons Please upload a screenshot of Zbrush and a screenshot of Blender, just drag and drop the image files into the comments area of GitHub from PC web browser.
 And please explain what's happened.

I think Mr. Kromar can

[2020-11-19 19:52] kromar commented on #190
@3dtoons i am not able to reproduce that issue, what GoB version do you use?

[2020-11-19 20:06] 3dtoons commented on #190
Hello, sorry for not giving more information. The latest GoB works just
fine with the current stable release of Blender2.90.1 and ZBrush2021.1.2.
I found the problem, I was trying out Pablo's experimental Sculpt Paint
feature in the new Alpha Build of Blender2.92. I think the problem is, even
though it's vertex paint, it doesn't create a vertex paint layer. I'm not
sure where it's storing the vert

[2020-11-19 20:09] kromar commented on #190
ah yes that sounds like some changes might be coming^^ thanks for the heads up

[2020-11-19 20:09] #190 closed

[2020-11-23 19:50] cyberhirsch opened #192 "Can't export to zbrush :("
Hi :)
![image](https://user-images.githubusercontent.com/50666797/100008006-2a877c80-2dcd-11eb-9ac6-587a7d55f957.png)
![image](https://user-images.githubusercontent.com/50666797/100008144-51de4980-2dcd-11eb-8a5a-40938abad827.png)
got the latest GoB-master.zip
Blender 2.90 / Zbrush2021.1.2

Any ideas?

[2020-11-24 16:38] koloved opened #193 "Triangulate mesh while export."
you need to triangulate the models when exporting otherwise the models have visual issues in zbrush.

https://i.postimg.cc/WzSyYTZX/Screenshot-6.jpg

[2020-11-24 16:43] koloved opened #194 "Auto-convert bezier curves"
it need the plugin to automatically hiddenly convert curves to meshes when exporting

it can't be sent at all right now.

[2020-11-25 18:54] kromar commented on #192
can you try to run blender as admin? this looks like some account restriction issue

[2020-11-25 23:43] cyberhirsch commented on #192
Yes, Sir! Thanks a lot!

[2020-11-29 18:04] bottledsmoke opened #195 "Enabling the Addon in Blender 2.91 Throws Error"
**OS**
MacOS Big Sur 11.0.1

**GoB Version**
Current Master (3.4.10)

**Blender Version**
2.91

**Zbrush Version**
2021.1.2

![Screen Shot 2020-11-29 at 1 01 01 PM](https://user-images.githubusercontent.com/7918530/100549812-3945b780-3243-11eb-892e-ab5c0f52c047.png)

**Issue**
When I enable the addon after installing it, Blender throws an error.

[2020-12-07 10:24] #192 closed

[2020-12-11 19:10] #173 closed

[2020-12-11 19:10] #186 closed

[2020-12-11 19:11] #187 closed

[2020-12-11 19:11] #151 closed

[2020-12-11 19:11] #176 closed

[2020-12-11 19:11] #181 closed

[2020-12-11 19:11] #156 closed

[2020-12-11 19:11] #162 closed

[2020-12-11 19:11] #161 closed

[2020-12-11 19:12] #166 closed

[2020-12-11 19:12] #170 closed

[2020-12-11 19:12] #74 closed

[2020-12-11 19:12] #157 closed

[2020-12-11 19:12] #154 closed

[2020-12-11 20:05] #114 closed

[2020-12-11 20:05] #118 closed

[2020-12-11 20:05] #119 closed

[2020-12-11 20:05] #123 closed

[2020-12-11 20:05] #113 closed

[2020-12-11 21:56] kromar commented on #195
can you try this version (v3.4.11) and see if it solves your issue?
https://github.com/kromar/blender_GoB/tree/feature/fix-os-detection
https://github.com/kromar/blender_GoB/archive/feature/fix-os-detection.zip

[2020-12-11 22:11] kromar commented on #183
@Aurontwist this should be fixed in the latest master (v3.4.10) let me know if you have any other issues
https://github.com/JoseConseco/GoB
https://github.com/JoseConseco/GoB/archive/master.zip

[2020-12-11 22:11] #183 closed

[2020-12-11 23:23] #160 closed

[2020-12-11 23:24] #179 closed

[2020-12-11 23:50] mac4kent commented on #160
No problem. I am on Blender 2.92 Alpha it work to find zBrush.app on manual open file without automatic.

[2020-12-12 05:58] bottledsmoke commented on #195
![Screen Shot 2020-12-12 at 12 56 49 AM](https://user-images.githubusercontent.com/7918530/101976641-2359ce80-3c15-11eb-864c-8799ab808a1c.png)

Still throwing an error, but it's a new one now.

[2020-12-12 13:30] kromar commented on #195
can you try this one v3.4.12

https://github.com/kromar/blender_GoB/tree/feature/fix-os-detection
https://github.com/kromar/blender_GoB/archive/feature/fix-os-detection.zip

[2020-12-12 17:54] bottledsmoke commented on #195
![Screen Shot 2020-12-12 at 12 53 27 PM](https://user-images.githubusercontent.com/7918530/101991186-0b1b9b00-3c79-11eb-90ea-c643655ae2a6.png)

We're getting there. Now "Local Variable PATH_GOZ referenced before assignment."

[2020-12-12 19:13] kromar commented on #195
can you give this a try? there was some leftover path checking which is no longer used, lets see if that brings us furhter
v3, 4, 13

https://github.com/kromar/blender_GoB/archive/feature/fix-os-detection.zip

[2020-12-12 20:36] bottledsmoke commented on #195
Exporting to ZBrush and importing to Blender both work now. Thank you so much :)

[2020-12-12 20:36] #195 closed

[2020-12-13 12:16] kromar commented on #184
![image](https://user-images.githubusercontent.com/1472884/102011587-729f1c80-3d45-11eb-8fae-c5d66a7193dd.png)

[2020-12-13 13:29] kromar commented on #184
![image](https://user-images.githubusercontent.com/1472884/102013330-a121f500-3d4f-11eb-95b8-90cf01f6b00a.png)

[2020-12-20 15:08] kromar opened #197 "fix subtool import, broken after splitting for tool import"

[2020-12-23 06:35] MattFagan opened #198 "Clean installation brings error when first pressing "export" - Windows"

[2020-12-23 06:53] MattFagan commented on #198
![image](https://user-images.githubusercontent.com/18077806/102968327-7ef34a00-44a8-11eb-9fa6-d52b95911edb.png)

[2020-12-23 19:47] kromar opened #199 "tool and first subtool not at correct position"
![image](https://user-images.githubusercontent.com/1472884/103032357-24b5c000-4560-11eb-8130-a1b777a66afb.png)

[2020-12-23 21:38] kromar commented on #198
can you try to run the goz installer which can be found in the zbrush troubleshooting folder and see if it fixes the issue?
![image](https://user-images.githubusercontent.com/1472884/103038760-8b8ea580-456f-11eb-98f0-70cb92b0eeb6.png)

[2020-12-27 13:24] kromar opened #200 "add export/import progress indicator"
https://docs.blender.org/api/current/bpy.types.WindowManager.html?highlight=progress_begin#bpy.types.WindowManager.progress_begin

[2020-12-27 17:08] kromar opened #201 "import timer causes multiple import"
-import timer faster than progressive file write from zbrush export (GoZ_ObjectList.txt)

[2020-12-27 23:47] #200 closed

[2020-12-27 23:48] #201 closed

[2020-12-27 23:48] #197 closed

[2020-12-27 23:49] #177 closed

[2020-12-29 17:58] MattFagan commented on #198
@kromar That fixed it! (Thank you!) - Note: I had removed "all" pre-existing files before running it, after re-installing it cleanly. That did the trick! Cheers

[2020-12-31 00:27] #199 closed

[2020-12-31 00:28] #163 closed

[2020-12-31 00:28] #184 closed

[2020-12-31 13:58] kromar commented on #198
@MattFagan which pre existing files did you need to remove?

[2021-01-01 19:22] kromar opened #202 "the current file browser that opens when the zbrush path is not defined is confusing since the user expects to define the export path and not the executable with which to export."

[2021-01-01 20:33] #202 closed

[2021-01-01 20:40] #188 closed

[2021-01-03 14:49] kromar commented on #193
@koloved can you provide a mesh where this happens? the mesh should be triangulated, i fixed this issue some time ago as far as i can remember.

what version of GoB are you using?

[2021-01-03 15:03] XhnPLayer commented on #182
I wish you success, this is very useful.

[2021-01-11 11:35] PoloxDisc opened #205 "DynaMesh Utillity destroys object with applied modifier array"
Before modifiers:
![image](https://user-images.githubusercontent.com/28192518/104177410-00cff680-5409-11eb-9924-e6e2e8ba34be.png)
After modifieres:
![image](https://user-images.githubusercontent.com/28192518/104177460-1513f380-5409-11eb-86c1-4e3efe4fb043.png)
After importing to zbrush:
![image](https://user-images.githubusercontent.com/28192518/104177508-2d840e00-5409-11eb-945e-4483d5994421.png)
A

[2021-01-11 19:17] kromar commented on #205
it seems to happen because the objects do not have a polygroup. if you auto generate some polygroups it should work.

[2021-01-12 00:21] PoloxDisc commented on #205
Thank you buddy

[2021-01-12 00:22] #205 closed

[2021-01-16 21:43] kromar commented on #193
@koloved can you provide a mesh that causes this? i am not able to reproduce this issue.

[2021-01-16 21:44] kromar opened #206 "addon updater"

[2021-01-16 21:45] kromar opened #207 "issue with scaling when blender unit scale changes?"

[2021-01-16 22:16] kromar opened #208 "zbrush import warnings when sendings a lot of meshes and tools have some acculative undo steps afterimporting"

[2021-01-18 17:16] kromar commented on #194
@koloved i implemented this in this branch it should support all types of bezier or nurbs curves and surfaces as well as Font and Meta objects.
Please let me know if you encounter any issues since it might be that i missed some things.

GoB v3.5.3
https://github.com/kromar/blender_GoB/tree/feature/test-addon-updates
https://github.com/kromar/blender_GoB/archive/feature/test-addon-updates.zip

[2021-01-20 20:48] chungking2399 commented on #198
I got a trackback error as well
![err](https://user-images.githubusercontent.com/63893089/105232773-7edd7d00-5b2e-11eb-9f3b-26abcef604ba.jpg)

[2021-01-21 14:28] koloved commented on #194
oh great! Thank you!
but i cant even enable the addon
Traceback (most recent call last):
  File "C:\Program Files (x86)\Steam\steamapps\common\Blender\2.91\scripts\modules\addon_utils.py", line 351, in enable
    mod = __import__(module_name)
  File "C:\Users\kolov\AppData\Roaming\Blender Foundation\Blender\2.91\scripts\addons\blender_GoB-feature-test-addon-updates\__init__.py", line 53, in <modul

[2021-01-21 14:33] koloved commented on #193
i open the file again and export the mesh and i didnt get any issue, oh

if i get any issues in the future i wlll let you know

[2021-01-21 21:40] kromar opened #209 "error with custom installation path"
Lines 1446 - 1454 and 1472 - 1481 of GoB.py, about the filepaths, get priority to whatever I enter on the ZBrush path in the addon option in Blender, so that, if ZBrush is installed on a different path that C:/program files/ , the exporter doesn’t work, giving a FileNotFoundError.

[2021-01-21 21:45] kromar commented on #198
hm i think i seen this before and thought i made a fix for this. Can you try to run blender in administrator mode? if that works there seems to be some issue to run the zbrush script from blender.

[2021-01-21 22:01] kromar commented on #194
do you have another version of GoB installed?

[2021-01-21 22:05] kromar commented on #194
ah there was a typo in the operator name, strange that it worked for me

can you try the latest version v3.5.32
https://github.com/kromar/blender_GoB/tree/feature/test-addon-updates

[2021-01-21 22:07] kromar commented on #198
i added a potential fix in a experimental version, would be great if you can try if that works for you.

GoB v3.5.32
https://github.com/kromar/blender_GoB/tree/feature/test-addon-updates
https://github.com/kromar/blender_GoB/archive/feature/test-addon-updates.zip

[2021-01-21 22:20] chungking2399 commented on #198
ok thank you so much, will set it up right now

On Thu, Jan 21, 2021 at 4:08 PM kromar <notifications@github.com> wrote:

[2021-01-21 22:27] chungking2399 commented on #198
That WORKED Thank you

On Thu, Jan 21, 2021 at 4:20 PM Jon Cipriano <chungking2339@gmail.com>
wrote:

[2021-01-22 15:47] koloved commented on #194
oh yes ! its working ! works like a charm but i found an issue -
look , when you'd use fill caps function  -
[https://prnt.sc/xggxi9](https://prnt.sc/xggxi9)
you cant subdivide it - [https://prnt.sc/xgh0x5](https://prnt.sc/xgh0x5)
it should have to be merge by distance before exporting -
[https://prnt.sc/xgh6tz](https://prnt.sc/xgh6tz)

[2021-01-22 16:16] koloved opened #210 "non manifold data should be automatcally deleted before export"
[https://prnt.sc/xgiggj](https://prnt.sc/xgiggj)

when you have more than 100 subtools its hard to find exact object which contain non manifold geometry (it can be too small to see or something), it becomes pain in ass to press the button in zbrush, its really hard to find, ones i spent two more hours for it
[https://prnt.sc/xgiqd3](https://prnt.sc/xgiqd3)
we can just easily delete the data to avo

[2021-01-23 20:06] kromar commented on #194
i added this and also the nonmanifold option

![Screen Shot 01-23-21 at 09 01 PM](https://user-images.githubusercontent.com/1472884/105612829-cb3eec00-5dbe-11eb-84a8-3268f88757fd.PNG)

GoB v3.5.40
https://github.com/kromar/blender_GoB/tree/feature/test-addon-updates

[2021-01-28 16:43] akuasama opened #211 "An error occurred when importing ZB,but model in gozporject"
Python: Traceback (most recent call last):
  File "C:\Users\Akua\AppData\Roaming\Blender Foundation\Blender\2.91\scripts\addons\GoB-master\GoB.py", line 1486, in execute
    bpy.ops.gob.find_zbrush()
  File "D:\SteamLibrary for software\steamapps\common\Blender\2.91\scripts\modules\bpy\ops.py", line 132, in __call__
    ret = _op_call(self.idname_py(), None, kw)
RuntimeError: 错误: Python: Traceback

[2021-01-30 19:47] kromar commented on #211
can you tell me where you installed zbrush?

[2021-02-01 13:52] akuasama commented on #211
D:\zbrush2021  my zbrush versions is 2021

[2021-02-01 22:52] kromar commented on #211
Thanks for sharing, it seems i did not considee custom zbrush paths when changing the option. You can try to set the zbrush.exe manually in the addons preferences.

[2021-02-08 17:33] kromar commented on #211
can you try this version and see if it solves the issue for you? if you have a custom path and the addon cant find zbrush in its default installation path it should navigate you to the addon preferences where you should specify your custom zbrush path.

![Screen Shot 02-08-21 at 06 25 PM](https://user-images.githubusercontent.com/1472884/107258336-f589de00-6a3b-11eb-91fb-b213fce1887a.PNG)
![image]

[2021-02-10 18:31] kromar opened #212 "fix osx .app recognition"

[2021-02-10 18:32] #209 closed

[2021-02-21 06:52] nanami773ito opened #213 "Can't export from Blender to Zbrush"
click the export button in blender and pops up this:
![7ZMA)QFN18UB6WCG832`$O5](https://user-images.githubusercontent.com/79393913/108617786-08e17400-7454-11eb-813d-f095c7b3a012.png)

then go to zbrush is like this:
![04QBLBJHKD~DQEM8QW { `8](https://user-images.githubusercontent.com/79393913/108617784-054ded00-7454-11eb-9694-d94d63c568f5.png)

Import from Zbrush to Blender works fine.

[2021-02-23 10:54] kromar commented on #213
please try this version and see if it solves your issues

GoB v3.5.45
https://github.com/kromar/blender_GoB/tree/bugfix-zbrush-path-issues
https://github.com/kromar/blender_GoB/archive/bugfix-zbrush-path-issues.zip

[2021-02-24 05:33] nanami773ito commented on #213
there is no more error, but still have some issues
export with blender only add a bunch of polymesh3d stars to zbrush
I found that if I import something from zbrush first, and then re-export, it will work
so my workaround is export with an obj file, then import from zbrush to blender and split into several pieces,
then export again, it's fine, just a little extra work.
anyway, thanks a lot!

[2021-02-26 20:43] RosieDavis opened #214 "GoB Addon not allowing to activate"
Hi All. I attempted to install GoB v3_5_1 addon but I keep getting this message. I copy and extracted GoB v3_5_1 and renamed it GoB and addded the folder into my Blender addon folder located in  "C:\programs files\ Blender foundation\Blender\2.79\scripts\addons" I restarted Blender and went into user preferences but when I try to make the addon active I get this error:
![Addon Traceback Error 2021

[2021-02-27 00:00] kromar commented on #214
Hi, this version of the addon requires blender 2.83+

you can get the old version for blender 2.79 here:
v2.1.0
https://github.com/JoseConseco/GoB/tree/GoZ-Blender-279
https://github.com/JoseConseco/GoB/archive/GoZ-Blender-279.zip

[2021-02-27 11:20] kromar commented on #213
that does not sound right and i have never seen or heard of such a issue before. can you please check if you get any errors in the console?
also what blender and zbrush versions are you using?
do you have some custom installation or project paths or change any of the preferences in the addon?

[2021-02-27 11:33] #194 closed

[2021-02-27 11:33] #210 closed

[2021-02-27 11:33] #198 closed

[2021-02-27 11:34] #212 closed

[2021-02-27 11:35] #211 closed

[2021-02-27 12:02] #29 closed

[2021-02-27 12:04] #48 closed

[2021-02-27 12:04] #51 closed

[2021-02-27 12:04] #52 closed

[2021-02-27 12:05] #58 closed

[2021-02-27 12:05] #63 closed

[2021-02-27 12:05] #65 closed

[2021-02-27 12:05] #68 closed

[2021-02-27 12:06] #69 closed

[2021-02-27 12:06] #71 closed

[2021-02-27 12:06] #73 closed

[2021-02-27 12:06] #81 closed

[2021-02-27 12:06] #82 closed

[2021-02-27 12:07] #84 closed

[2021-02-27 12:07] #85 closed

[2021-02-27 12:07] #86 closed

[2021-02-27 12:08] #87 closed

[2021-02-27 12:08] #89 closed

[2021-02-27 12:08] #90 closed

[2021-02-27 12:08] #92 closed

[2021-02-27 12:08] #93 closed

[2021-02-27 12:10] #46 closed

[2021-02-27 12:11] #94 closed

[2021-02-27 12:11] #95 closed

[2021-02-27 12:11] #96 closed

[2021-02-27 12:11] #97 closed

[2021-02-27 12:11] #98 closed

[2021-02-27 12:12] #99 closed

[2021-02-27 12:12] #103 closed

[2021-02-27 12:12] #104 closed

[2021-02-27 12:12] #105 closed

[2021-02-27 12:12] #106 closed

[2021-02-27 12:13] #112 closed

[2021-02-27 12:13] #117 closed

[2021-02-27 12:13] #127 closed

[2021-02-27 12:13] #129 closed

[2021-02-27 12:13] #130 closed

[2021-02-27 12:13] #131 closed

[2021-02-27 12:14] #132 closed

[2021-02-27 12:14] #133 closed

[2021-02-27 12:14] #134 closed

[2021-02-27 12:14] #135 closed

[2021-02-27 12:14] #136 closed

[2021-02-27 12:14] #137 closed

[2021-02-27 12:15] #138 closed

[2021-02-27 12:15] #139 closed

[2021-02-27 12:15] #140 closed

[2021-02-27 12:15] #141 closed

[2021-02-27 12:15] #142 closed

[2021-02-27 12:15] #143 closed

[2021-02-27 12:16] #144 closed

[2021-02-27 12:16] #147 closed

[2021-02-27 12:16] #148 closed

[2021-02-27 12:16] #150 closed

[2021-02-27 12:16] #152 closed

[2021-02-27 12:16] #153 closed

[2021-02-27 12:17] #178 closed

[2021-02-27 12:17] #193 closed

[2021-02-27 12:20] #83 closed

[2021-02-27 14:20] RosieDavis commented on #214
Thank you Sir, that resolved it.

[2021-02-27 14:20] #214 closed

[2021-02-27 14:21] RosieDavis commented on #214
Thanks those worked.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Daniel G <notifications@github.com>
Sent: Friday, February 26, 2021 7:01 PM
To: JoseConseco/GoB <GoB@noreply.github.com>
Cc: RosieDavis <rgarciadavis@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [JoseConseco/GoB] GoB Addon not allowing to activate (#214)

Hi, this version of t

[2021-02-27 14:23] mac4kent opened #216 "Blender 2.93 Alpha GoB error addons"
Blender 2.93 Alpha on Add ons error while install button on GoB. See Youtube:
https://youtu.be/8UJeV8O_1pA
MacOS 11.3 Beta 2 (20E5186d) (February 17, 2021)

[2021-02-27 15:01] kromar commented on #216
thanks for reporting the issue i will look into it. does this also happen with blender 2.92? maybe its related to the python update in blender 2.93

[2021-02-27 17:09] mac4kent commented on #216
Yes Blender 2.92 Release it work on GoB as well.
Blender 2.93 Alpha is bug on GoB Add-ons.
https://builder.blender.org/download/

[2021-02-27 17:43] kromar commented on #216
Thanks for testing it, i will see if i can find out whats going wrong.

[2021-02-27 17:58] kromar commented on #216
@mac4kent can you try to install a other addon in blender 2.93 and see if that gives the error as well?
so far it looks like its some OSX restriction of relative paths and i suspect that its related to the blender python update. if that can be confirmed i can open a bug report so the devs can have a look at it.

[2021-02-27 18:19] kromar commented on #216
EDIT: please try the latest blender 2.93 version, apparently there was a fix for this issue.

[2021-02-27 18:40] mac4kent commented on #216
Let me check if date will change (February 28, 2021) tomorrow (Saturday)
Its doesn't change because of Mac only just only 1 Blender.app

[2021-02-28 21:31] mac4kent commented on #216
I just got download today Sunday, February 28, 2021 at 1:30 PM Pacific Time with Blender 2.93 Alpha.
Add-ons on GoB it work for sure.
Let's close the ticket.

[2021-02-28 21:41] mac4kent opened #217 "Overlap after click Export button on top"
Blender 2.93 Alpha
Overlap after click Export need to fix width on your GoB
See picture
![image](https://user-images.githubusercontent.com/4253305/109434450-3f763c00-79ca-11eb-9865-f652d9261755.png)

Because of large text on Preferences
1. Edit > Preferences >> Interface tab and change 2.00 (resolution Scale)
2. Edit > Preferences >> Themes tab and click Text Style then change from 12 to 24 (all o

[2021-02-28 22:16] mac4kent commented on #216
I just get download Blender 2.93 Alpha Sunday February 29, 2021 at about 1:00 PM Pacific Time.
Add-ons GoB it work
I notice click Export auto appear zBrush it work as well and Preferences > GoB auto appear Path Blender as well awesome make more easy much better than before.

Let's close the eicket.

[2021-03-01 00:18] kromar commented on #216
fantastic! thanks for letting me know and for reporting the issues!

[2021-03-01 00:18] #216 closed

[2021-03-03 17:00] akuasama commented on #211
oh~thank you~

[2021-03-03 17:04] akuasama commented on #211
I'm sorry for not replying in time .The problem has been solved  Thank you very much

[2021-03-04 03:40] Sterling177 opened #218 "GOB export texture issue"
![image](https://user-images.githubusercontent.com/61482425/109907940-1a960780-7cef-11eb-9c39-bfcff4762565.png)

Not sure why but the texture from zbrush is all messed up - seems the point order is changed on export

[2021-03-04 10:34] kromar commented on #218
what versions of blender, zbrush and GoB do you use?

[2021-03-04 10:39] kromar opened #219 "error when exporting modifers"
Modifires not aplying on export.

Error on Export and Apply option :pensive:

![image](https://user-images.githubusercontent.com/1472884/109951848-799f5080-7cde-11eb-8692-71e0410ccb1f.png)

 Python: Traceback (most recent call last):
  File "AppData\Roaming\Blender Foundation\Blender\2.92\scripts\addons\GoB-3_5_45\GoB.py", line 1048, in invoke
    return self.execute(context)
  File "AppData\Roami

[2021-03-04 12:31] Sterling177 commented on #218
Just creating Uv's with UVmaster in zbrush and the using Goz and import with Gob - I understand that Gob is exporting via goz as .obj - none of the textures or shaders are building in Blender either is the texture that is present in the goz folder.

blender 2.91.2

[2021-03-04 15:55] kromar commented on #218
this seems to work fine for me, so im not sure what the problem is on your side.
have you changed the material import from the default "from polygroup" to "**from texture**"?

![image](https://user-images.githubusercontent.com/1472884/109990707-f136a500-7d09-11eb-9ca2-638d88edc7e4.png)
![image](https://user-images.githubusercontent.com/1472884/109990885-1c20f900-7d0a-11eb-952f-41d23c001820.png)
![

[2021-03-04 23:40] kromar commented on #217
this should fix the issue, the popup should scale with the font size. would be great if you can confirm that it works for you.

https://github.com/kromar/blender_GoB/tree/feature/fix-popup-overlap-with-ui-scale

[2021-03-04 23:40] kromar opened #220 "restore object selection after export"

[2021-03-05 00:01] mac4kent commented on #217
Yaaaa ay it work
![image](https://user-images.githubusercontent.com/4253305/110047527-e62c4680-7d02-11eb-9f23-eefd203d5d00.png)

[2021-03-05 00:03] mac4kent commented on #217
Let's close the ticket

[2021-03-05 00:14] mac4kent opened #221 "Export button fail for Mac only"
Problem on Mac path when first time click Export button on top and right side button it work auto cause write on zBrush Path then second click again Export button cause error Special for Macintosh not for Windows.
![image](https://user-images.githubusercontent.com/4253305/110048392-a1091400-7d04-11eb-844b-99c5be5218c4.png)
![image](https://user-images.githubusercontent.com/4253305/110048432-b41be4

[2021-03-05 18:53] #217 closed

[2021-03-05 18:54] kromar commented on #221
i do not fully understand. you can specify the path and then the first export works and the 2nd time the export fails?

[2021-03-05 20:25] mac4kent commented on #221
First export works and the 2nd times the export fails
Yes correct.
See youtube
https://youtu.be/JCaVZwJ2aqc

[2021-03-10 12:59] Walker-source commented on #221
I have same problem. But export doesn't work at all. Import works fine.

[2021-03-10 15:24] fusobotic opened #223 "Modifiers not applied on 3.5.45, apply and export error"
Using Blender v2.83.12 (LTS) and ZBrush 2021.5. Mesh will show up in ZBrush but does not have the modifiers "Only Export" applied, there is not error that I can see in the console:
![image](https://user-images.githubusercontent.com/9371787/110652383-50713b00-818a-11eb-93f9-a909483cedba.png)

Switching to "Apply and Export" returns an error though:
![image](https://user-images.githubusercontent.com

[2021-03-13 05:43] mavc18 commented on #221
i got same problem as well.

[2021-03-23 22:55] kromar commented on #223
hi, thanks for reporting the issue.
Can yo give this version 3.5.49 a try and see if it works again for you?
https://github.com/kromar/blender_GoB/archive/refs/heads/bugfix/fix-apply-modifier.zip

[2021-03-23 22:57] kromar commented on #221
hmm this is strange, i never seen it happen on PC so far. Maybe its something with the new versions, can you share a blend file that causes the crash?

[2021-03-23 23:01] kromar commented on #221
the crash on OSX might be related to recent changes on relative paths in blender, i think i can make a workaround but its not going to be nice.
anyone knows how a absolute path to the applications looks like on OSX?

[2021-03-26 12:28] mac4kent commented on #216
Did not resolve yet.
First time click Export to zBrush it work.
Second time click Export to zBrush doesn't work

[2021-03-26 17:07] fusobotic commented on #223
Yeah that new release seems to be working. Still using the same versions of Blender/Zbrush as I initially said. I'll let you know if I run into anything else. Thanks!

[2021-03-27 01:36] 879096600 opened #226 "When zbrush subtool has scale factor send to blender and reback to zbrush the scale factor will change to 1"
When  zbrush subtool has scale factor send to blender  and return to zbrush  the scale factor will change to 1 ,so other subtools become 2mm size   .

[2021-03-27 09:41] #219 closed

[2021-03-27 09:41] #223 closed

[2021-03-27 09:54] kromar commented on #218
@Sterling177 bumping this report

[2021-03-27 11:17] kromar commented on #221
@mac4kent v3.5.50 should fix the problem, you can find the branch here:
https://github.com/kromar/blender_GoB/tree/bugfix/osx-path

it would be great if you can test it and see if you get any other issues.

[2021-03-27 11:19] kromar opened #227 "Export fails on 2nd export"
Same problem but on PC. GoB Master v. 3.5.47, Zbrush v. 2021.6.2 and Blender 2.92:
-Initial export from Blender to Zbrush works
-Export from Zbrush to Blender works
-Rexport modified model from Blender crashes blender outright.

` Python backtrace
  File \GoB-master\GoB.py", line 1628 in apply_modifiers
  File "ons\GoB-master\GoB.py", line 693 in exportGoZ
  File "GoB-master\GoB.py", line 1166 in

[2021-03-27 11:19] kromar commented on #227
@UncannyRobot this is strange, i never seen it happen on PC so far. Maybe its something with the new versions, can you share a blend file that causes the crash?

can you also post your zbrush path that is in the preferences?
![image](https://user-images.githubusercontent.com/1472884/112230283-f6b24b80-8c34-11eb-8392-72fb9c7fa00e.png)

` Python backtrace
  File \GoB-master\GoB.py", line 1628 in app

[2021-03-27 11:38] mac4kent commented on #221
It work as well congratulation fix everything. I did click (Export) many times made it good. That is so GREAT.

[2021-03-27 11:45] kromar commented on #221
fantastic! thanks for the quick testing:D

[2021-03-27 11:45] #221 closed

[2021-04-02 09:36] koloved commented on #207
yes i have this issue , i want to report it but you find it first

6 cm in zbrush = 60 meters in blender , the different is 1000 times

if you want to fix it you should make "fake" sending , i mean when you press export or import you can automatically change the size in background
[https://prnt.sc/1128fi3](https://prnt.sc/1128fi3)

[2021-04-03 19:58] kromar commented on #207
@koloved are you able to reproduce this issue? i have only encountered it once and was not able to reproduce it later on that is why i did not fix it.

[2021-04-03 20:15] kromar commented on #226
@879096600 can you try if this version fixes your scaling issue?
https://github.com/kromar/blender_GoB/tree/bugfix/scaling-with-blender-units

if not then it would be great to get a bit more details on what you are doing so i can reproduce the issue.

[2021-04-03 20:29] koloved commented on #207
GREAT! in blender the size is right ! thank you!
but in zbrush its still 2mm instead of 2 meters

correct size in zbrush is useful for people who use 3d printing

https://prnt.sc/113f6fu

[2021-04-03 20:36] kromar commented on #207
since you can set that unit in zbrush to anything you want i can not fix that. I am sending it in zbrush units, so 1m in blender should be 1 zbrush unit

![image](https://user-images.githubusercontent.com/1472884/113490819-ec157300-94cc-11eb-848e-faf3c2d26588.png)

if you want some manual scaling there are options in the preferences to change that but it might not work for what you try to do
![ima

[2021-04-03 20:39] kromar commented on #207
you can use the set scale to change the zbrush scale calibration
![image](https://user-images.githubusercontent.com/1472884/113490906-5c23f900-94cd-11eb-87c4-422414b21ce8.png)

[2021-04-07 09:21] Odin3D opened #230 "Path failed in second export (MacOS)"
Hi, I use gob without problems the first time, but when doing a new export the addon adds zbrush.app and gives an error. I have to delete the text from zbush.app and save so that it can export properly. It only happens to me in macos.
![Captura de pantalla 2021-04-07 a las 11 16 25](https://user-images.githubusercontent.com/82088076/113842745-45aec380-9793-11eb-8bb4-2845a6d3dd6b.png)
![Captura de

[2021-04-09 10:31] kromar commented on #230
hi @Odin3D did you try the lastest release? https://github.com/JoseConseco/GoB/releases/tag/v3_5_50
this should have been fixed in that version

[2021-04-12 09:12] fislysandi opened #231 "zbrush 2021.6.2 export not working"
when the addon will support this version?

[2021-04-12 09:45] kromar commented on #231
is there something specific that is not working for you? i am not aware of anything that should not be working with that version.

[2021-04-13 15:49] fislysandi commented on #231
oh its working i just forgot to drag n drop the zscript into zbrush sorry but i have the other issue to report when i switch the settings on export from export only to export and apply this happens https://imgur.com/a/3ATrAhz basically export with applying modifs not working.

[2021-04-21 15:57] Againsttimecosplay opened #233 "error when using apply all modifiers"
![image](https://user-images.githubusercontent.com/82961691/115584439-5f0c4f80-a2fd-11eb-8876-27a46eb60664.png)

[2021-04-21 16:03] Againsttimecosplay commented on #233
the function of goz is available ，I can import from zb to blender

[2021-04-21 19:36] SamiMertDemir opened #234 "ZBrush.2021.6.2 export error to blender."
This weird issue driving me nuts.I can export models from blender to zbrush but can't from zbrush to blender.I mean model exports to blender but zbrush crashes with this error.Can you provide an answer please?
![Ekran görüntüsü 2021-04-21 223506](https://user-images.githubusercontent.com/82974052/115610659-d805aa00-a2f1-11eb-9fea-698682e6ae5d.jpg)

[2021-04-21 21:36] kromar commented on #233
thanks for reporting the issue, i already got a report on this but did not have the time yet to fix it, please choose a different way the modifiers are exported until i get the chance to fix the issue.

you can change it in the addon preferences, and only export should work and you will need to apply the modifiers manually until the fix is in.
![image](https://user-images.githubusercontent.com/147

[2021-04-21 21:40] kromar commented on #234
now that is a strange one and most likely not caused by this addon since there is no modification on the export on zbrush.
Have you tried to run the GoZ installer? you should be able to run it from the GoB addon preferences:
![image](https://user-images.githubusercontent.com/1472884/115624278-b0670f80-a2fa-11eb-9119-ff8f5b5b3bd6.png)

and if that does not work i would try to run the zbrush install

[2021-04-22 01:22] Againsttimecosplay commented on #233
thank you very much
and I found that the lower version addon of Gob master was normal

[2021-04-22 16:08] SamiMertDemir commented on #234
Thank you for your answer.Problem was caused by Zbrush.When I updated the Zbrush that crashing went away.Sorry for the inconvenience.

[2021-04-22 16:09] #234 closed

[2021-04-22 18:43] kromar commented on #234
not an inconvenience at all, im glad you got it working. let me know if you run into any other issues.

[2021-04-23 19:40] kromar opened #235 "error when copy between blender instances"
error pops up if i copy-paste between blender files

Python: Traceback (most recent call last):
  File "\AppData\Roaming\Blender Foundation\Blender\2.92\scripts\addons\GoB-3_5_50\GoB.py", line 1234, in poll
    selected_objects = export_poll(cls, context)
  File "AppData\Roaming\Blender Foundation\Blender\2.92\scripts\addons\GoB-3_5_50\GoB.py", line 1616, in export_poll
    if active_object.type =

[2021-04-23 19:43] kromar commented on #231
sorry what script did you drag into zbrush? there should be no need to do anything other than installing the addon and start sending meshes to zbrush.
the modifiers are a known issue and should be fixed soon.

[2021-04-24 20:47] kromar commented on #231
i made a fix for applying the modifiers, would be great if you could give it a try

v3.5.51
https://github.com/kromar/blender_GoB/tree/bugfix/apply-modifiers

[2021-04-24 20:48] kromar commented on #233
i made a fix for applying the modifiers, would be great if you could give it a try

v3.5.51
https://github.com/kromar/blender_GoB/tree/bugfix/apply-modifiers

[2021-04-25 12:44] lensman888 opened #237 "No export from ZBrush 2021.6.4 to Blender 2.92?"
[RESOLVED: Must have been some sort of stupid user error   :) ]

First time install.

Import/Export Buttons appear in Blender.
I have created a path to Blender in ZBrush GoZ.

I can export from Blender to Zbrush.

But I CANNOT export from Zbrush to Blender. If I click on GoZ a message flashes that file was saved to disk. [<Disregard this - It might have simply been Quicksave saving at the same tim

[2021-04-28 18:00] kromar commented on #237
Hi, i assume you did not toggle the import button to the orange "active" state before sending something from zbrush? i was wondering when someone would trip over this logic since it does not seem very intuitive^^
Im glad you got it running. btw you can also use it to send objects to other (maybe multiple) blender instances

[2021-04-28 18:01] #237 closed

[2021-04-29 10:38] lensman888 commented on #237
Haha. That's exactly what I did.  :)

[2021-05-03 19:32] kromar opened #241 "translation for addon"

[2021-05-03 19:33] #235 closed

[2021-05-03 19:33] #231 closed

[2021-05-03 19:33] #233 closed

[2021-05-03 19:34] #226 closed

[2021-05-03 19:34] #207 closed

[2021-05-03 19:35] #227 closed

[2021-05-03 19:35] #218 closed

[2021-05-03 19:35] #213 closed

[2021-05-03 19:35] #230 closed

[2021-05-03 19:36] #185 closed

[2021-05-19 20:28] Werlious309 opened #242 "Can't export a mesh"
hello! right now i installed add-on in blender, but i have error that always pop up:
Python: Traceback (most recent call last):
  File "D:\Games\Steam\steamapps\common\Blender\2.92\scripts\addons\gob\GoB.py", line 1237, in invoke
    bpy.ops.scene.gob_export(as_tool=as_tool)
  File "D:\Games\Steam\steamapps\common\Blender\2.92\scripts\modules\bpy\ops.py", line 132, in __call__
    ret = _op_call(s

[2021-05-19 20:48] kromar commented on #242
hi, please try the latest version and see if the error is resolved.

https://github.com/JoseConseco/GoB/releases/tag/v3_5_52

[2021-06-01 20:51] hdharris opened #243 "GoB Mantaflow Bug"
When GoB is enabled, it IMMEDIATELY causes a full crash upon hitting bake data in mantaflow I went through and methodically disabled and renabled add-ons and determined specifically that it is GoB causing this issue.

I am using an AMD 3900x cpu, an rtx 2080, 32gigs of ram, if that is at all relevant

[2021-06-03 06:42] vadhmln commented on #182
Hello guys! Just for info, maybe it will be useful. Take a look here: https://blendermarket.com/products/better-fbx-importer--exporter
under Zbrush Workflow section.

[2021-06-03 21:23] kromar commented on #243
i have been able to create some blender crashes but not related to the addon. Can you provide a blend file that causes that crash you describe?

[2021-06-03 21:33] hdharris commented on #243
of course, for reference,

I loaded factory settings, enabled GoB, set up a basic mantaflow sim to bake with default settings, hit bake and it instantly crashed.
[Bug Test.zip](https://github.com/JoseConseco/GoB/files/6594466/Bug.Test.zip)

[2021-06-03 21:36] kromar commented on #243
thanks, i can reproduce the crash. i will have a look if i can fix it

[2021-06-03 21:46] hdharris commented on #243
Thank you for your time and efforts looking into it, the addon is essential and I'm so glad it exists!

[2021-06-04 20:48] kromar commented on #243
i have been able to find the cause of the crash but im not sure how to fix it yet. can you tell me if you send baked fluids over to zbrush or if that is something you would do? if i get a better understanding how you use them it might be easier to make a good fix for the crash.

[2021-06-05 20:13] hdharris commented on #243
I was just trying to bake them in blender, I didn't intend to send them anywhere else, but I couldn't get them to start at ALL. Oddly, they would play in replay, but once I turned the setting to modular or All and tried to bake, instant crash.

[2021-06-14 20:08] fislysandi opened #244 "does this addon support the 2.93?"

[2021-06-14 20:38] kromar commented on #244
it should work on 2.93, i have not got any reports of issues, so if you got some please let me know so they can be fixed. happy blending

[2021-06-19 16:54] unrealghys opened #245 "request /issue"
due to the custom shelf, I cannot access the shelf command there is a way to call them by terminal script or any other way?

thx =)

[2021-06-20 13:02] #244 closed

[2021-06-20 13:04] kromar commented on #245
sure, you should be able to find it in the search function.
bpy.ops.scene.gob_export()

![image](https://user-images.githubusercontent.com/1472884/122675183-92be0580-d1d8-11eb-96b8-77f3f9136215.png)

can i ask what that custom shelf is?

[2021-06-20 13:12] unrealghys commented on #245
thank you !  yesterday I manage to find one shelf not touched by it and I found the button but with this call, I can add it to another shelf and call it from it! the shelf is from form affinity Maya config. I`m trying to switch to Blender after years of Maya so I needed an easier transition.

[2021-06-20 13:42] #245 closed

[2021-06-23 07:59] koloved opened #246 "another size issue"
when i trying to reexport the object few times i got this result
Zbrush => Blender => Zbrush => Blender [https://prnt.sc/16fcegh](https://prnt.sc/16fcegh)

Blender => Zbrush [https://prnt.sc/16fcuom](https://prnt.sc/16fcuom)

also i tried use manual size in the addon settings but its not work anyway

I remember you had fixed that problem in beta for me and it works perfectly XD

[2021-06-23 08:35] koloved commented on #246
i found right scale factor in addon settings = 1000
but it definitely not work properly when you export the same object back to zbrush

[2021-06-26 20:15] kromar commented on #246
what scale option did you use when you get the scale issue? Blender Units?

[2021-06-26 20:38] kromar commented on #246
the problem is that you change scale with the Scale Master plugin which puts the brushes into some arbitrary scale in zbrush that i have no information of when you send it to blender.

You should just use the geometry size of a mesh that should always correlate to the blender units.
![image](https://user-images.githubusercontent.com/1472884/123525153-02e3f400-d6cf-11eb-945e-c958b1dd1774.png)

[2021-06-26 20:51] kromar commented on #246
sorry but there is nothing i can do about this, i recommend starting in blender with the scale you need and not touching the scale master in zbrush

[2021-07-01 11:28] Tsukasa-YAMATO opened #247 "GoB Export Options "Vertex Merging" does not seem to work. (And request for disable.)"
Long time no see. This is a bug report for GoB release version Ver.3.5.52. Vertex Merging feature does not seem to work. Please check it.
And I don't want GoB addon to change the topology so please add a checkbox for enable/disable this feature.

Thank you.

My environment
Windows 10 Pro
Blender 2.92.0
GoB Ver.3.5.52

![2021-07-01_20h13_42](https://user-images.githubusercontent.com/65609416/124116

[2021-07-01 12:11] kromar commented on #247
hi, this is only used when working with surface type objects like curves and it does not apply to mesh objects. This is probably why its not doing anything for you.
Its very unclear from the ui and i had to go into the code to see that so i will do some changes to the ui to reflect the usage of this.

[2021-07-01 12:30] Tsukasa-YAMATO commented on #247
I was relieved to hear the vertices of the mesh object will not be  merged and the topology will not be changed.
As you say, it's enough if you add sufficient explanation to the popup help description.

[2021-07-01 12:58] #247 closed

[2021-07-01 12:59] kromar commented on #247
merged some changes to master, should be version 3.5.53

[2021-07-02 11:27] kromar opened #249 "replace export poll with msgbus"
msgbus can be used to only check the export validity when selections are changed rather than all the time like the poll is doing. with this the fluid baking crash should be avoidable as well in addition to reducing the addons costs.

[2021-07-06 06:07] Tsukasa-YAMATO opened #250 "Mismatched description in the Zscript GoB_Import.txt"
In GoB_Import.txt, I feel that the content of the comment, the list number, and the actual variable passing do not match.

Please check it out once.

![ZscriptMistake](https://user-images.githubusercontent.com/65609416/124549755-943f2d00-de6a-11eb-8c00-a3591925ebb7.png)

Should the "0: object name" item in the comment be removed? And the numbers should shift.

Therefore, it will be necessary to co

[2021-07-06 09:02] kromar commented on #250
its just the comment that has not been updated when the variables changed.
if you look at line 696 in GoB.py you see what is written into the file.

`
# write GoB ZScript variables
        variablesFile = f"{PATH_GOZ}/GoZProjects/Default/GoB_variables.zvr"
        with open(variablesFile, 'wb') as GoBVars:
            GoBVars.write(pack('<4B', 0xE9, 0x03, 0x00, 0x00))
            #list size

[2021-07-06 09:06] kromar commented on #250
i updated the comments and merged it back to the master, so in v 3.5.54 should be the correct comments. thanks for pointing it out.

[2021-07-06 09:40] Tsukasa-YAMATO commented on #250
Thank you for fixing it immediately.
There is no problem with the behavior because it's the comment part, but if there is a contradiction, it will be misunderstood when someone reads it later, so I thought it would be safer to unify it.

Please close this issue.

[2021-07-08 14:58] #250 closed

[2021-07-26 20:28] zhujian12345 opened #252 "coordinate no synchronization"
ZBrush to blender to Daz3D  coordinate no synchronization！！！！！

[2021-07-27 20:49] kromar opened #253 "crash on 3.0 alpha"

[2021-07-27 20:50] kromar opened #254 "add option for manual import"

[2021-08-06 03:15] blessedcoolant opened #257 "Crashing on Blender 3.0 Alpha"
When you try to import a mesh a SECOND time from zBrush to Blender, the addon crashes Blender.

The error is in GoB.py > run_import_periodically > bpy.ops.scene.gob_import(ctx) according to the crash log.

 Can be reproduced 100% of the time.

[2021-08-06 20:18] #254 closed

[2021-08-06 20:21] kromar commented on #257
thanks for reporting the issue, i added a manual import option that should work as long as the automatic one will be solved in the latest master (v3, 5, 56)
Since 3.0 is still under heavy development it might be a blender but so i will have another look at this once 3.0 goes into beta phase.

[2021-08-06 20:26] #242 closed

[2021-08-06 20:27] #253 closed

[2021-08-06 20:30] kromar commented on #243
oh i think i forgot to report back to you. I disabled the checks ive done to avoid the crash when baking. Let me know if you get some other issues with this version.
https://github.com/JoseConseco/GoB/releases/tag/v3_5_56

[2021-08-06 20:31] kromar commented on #252
can you explain what you try to do? this addon does only sync blender and zbrush so not sure what you are trying to say.

[2021-08-06 23:29] hdharris commented on #243
oh great! i'll test this out!

On Fri, Aug 6, 2021 at 4:30 PM Daniel G ***@***.***> wrote:

[2021-08-08 07:38] xathian commented on #252
I believe what he is saying is that transform coordinates do not stay synced between export and import, meaning your reimported mesh from ZBrush appears in a different position when it's brought back into Blender. This is a serious problem for those of use who are using ZBrush to create high poly geometry for baking, because now our imported high poly is not properly overlayed with the low poly, m

[2021-08-08 17:03] hdharris commented on #243
It works! thank you so much!

On Fri, Aug 6, 2021 at 7:29 PM H. D. Harris ***@***.***> wrote:

[2021-08-09 02:31] blessedcoolant commented on #257
Thank you for the update. I already did update to 3.5.55 and the manual option has been working well. I'll look forward to the automatic fix.

Sorry to bother you with this and this is more of a general query rather than to do with your addon, but I was wondering if you cold help me.

When I make changes and export from GoZ in zBrush, it always exports as a new mesh rather than updating the curren

[2021-08-14 21:07] kromar commented on #252
@xathian can you tell me the exact steps you do to reproduce this offset issue?
also can you tell me what scale option you have set in the addons preferences?
![image](https://user-images.githubusercontent.com/1472884/129459997-e92d4600-e1ac-477b-9b4f-dd2324bebaf2.png)

[2021-08-14 22:18] #220 closed

[2021-08-15 18:46] aryez91 opened #261 "README.md lacks ZBrush-side installation guide"
Only blender-side installation is explained...

Finally got it from askNK. I suggest editing in --->
"Put GoB-X_X_XX\Blender folder under C:\Users\Public\Pixologic\GoZApps"

[2021-08-16 01:48] xathian commented on #252
Nothing to really say to reproduce. I simply take the mesh, send it to ZBrush with the Export button, do my usual ZBrush steps (Dynamesh to a massive poly count, polish it to my preferred result, decimate) then bring it back into Blender with the GoZ button. Scale is set to blender units as well.

One thing to note is that this doesn't happen for every single object though, it seems to happen to o